In [1]:
import requests
from bs4 import BeautifulSoup as soup
import lxml

from splinter import Browser
import pandas as pd
import matplotlib.pyplot as plt

import html5lib
import splinter
import time
import datetime as dt
import os

from sqlalchemy import create_engine

In [2]:
#df=pd.read_html("http://www.planecrashinfo.com/2010/2010",header=0)
#df=df[0]

data_file=("Airplane_Crashes_and_Fatalities_Since_1908.csv")

hist_df=pd.read_csv(data_file)

In [3]:
historical_df=hist_df[["Date","Location","Operator","Aboard","Fatalities","Ground","Type","Summary"]].copy()

In [4]:
historical_df['Date'] =  pd.to_datetime(historical_df['Date'])

In [5]:
historical_df["Aboard"]= pd.to_numeric(historical_df['Aboard'],errors='coerce')
historical_df["Fatalities"]= pd.to_numeric(historical_df['Fatalities'],errors='coerce')

In [6]:
#COLUMN_NAMES=['date','time','location','operator','Flight#','Route','AC type','Registration','cn/ln','Aboard','Fatalities','Ground','Summary']
#df1=pd.DataFrame(columns=COLUMN_NAMES)
years=['2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019']
no_of_columns=13
combined_list=[]
for yr in years:
    yrly_url="http://www.planecrashinfo.com/"+yr+"/"+yr
    df=pd.read_html(yrly_url,header=0,encoding='utf-8')
    df=df[0]
    total_rows=len(df)
    for i in range(int(total_rows)):
        url = yrly_url+"-" + str(i+1) +".htm"
        df2=pd.read_html(url,header=0)
        df1=df2[0]
        dict4={}
        df1=df1.rename( columns={"-": "Parameters"})
        for col in range(no_of_columns):
            dict4[df1.iloc[col,0]]=df1.iloc[col,1]
        combined_list.append(dict4)

In [7]:
Final_df=pd.DataFrame(combined_list)
#Final_df
headers = Final_df.dtypes.index
print(headers)

Index(['AC  Type:', 'Aboard:', 'Date:', 'Fatalities:', 'Flight #:', 'Ground:',
       'Location:', 'Operator:', 'Registration:', 'Route:', 'Summary:',
       'Time:', 'cn / ln:'],
      dtype='object')

In [8]:

crash_df=Final_df[["Date:","Location:","Operator:","Aboard:","Fatalities:","Ground:","AC  Type:","Summary:"]].copy()
crash_df=crash_df.rename(columns={"Date:":"Date", "Location:":"Location","Operator:":"Operator","Aboard:":"Aboard","Fatalities:":"Fatalities",\
                                  "Ground:":"Ground","AC  Type:":"Type","Summary:":"Summary"})

In [9]:
crash_df

,Date,Location,Operator,Aboard,Fatalities,Ground,Type,Summary
0,"January 01, 2009","Lubock, Texas",Empire Airlines leased from FedEx,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,ATR-42-320,Crashed while attempting to land. The probable...
1,"January 04, 2009",Near Houma Louisiana,Petroleum Helicopters Inc,9 (passengers:7 crew:2),8 (passengers:6 crew:2),0,Sikorsky S-76C++,A helicopter bound for offshore oil fields wen...
2,"January 15, 2009","New York, New York",US Airways,155 (passengers:150 crew:5),0 (passengers:0 crew:0),0,Airbus A320-214,The plane was taking off from La Guardia Airpo...
3,"January 15, 2009","Adraskan district, Afghanistan",Afghan Army,13 (passengers:? crew:?),13 (passengers:? crew:?),0,Mil Mi-17,Either shot down or crashed due to bad weather.
4,"February 07, 2009","Manacapuru, Brazil",Aerotaxi Manaus,28 (passengers:26 crew:2),24 (passengers:22 crew:2),0,Bandeirante EMB-110P1,The plane was being used as an air taxi to fer...
5,"February 07, 2009","Trigoria, Italy",Air One Executive,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,Cessna 650 Citation III,"The plane, heading to Bologna to pick up a med..."
6,"February 12, 2009","Clarence Center, New York",Continental Connection/Colgan Air,49 (passengers:44 crew:5),49 (passengers:44 crew:5),1,Bombardier DHC-8-402 Q400,The commuter plane crashed while attemptiong t...
7,"February 15, 2009","Near Isfahan/Shahin Shahr-Hesa Air Base, Iran",HESA,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,HESA IrAn-140-100,The aircraft crashed druing a training flight.
8,"February 15, 2009","Chanco, Chile",Flight Service,13 (passengers:12 crew:1),13 (passengers:12 crew:1),0,Bell UH-1H,The helicopter was carrying firemen to a nearb...
9,"February 20, 2009","Luxor, Egypt",Aerolift,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,Antonov 12V,"While attemping to take off from Luxor, the ca..."
10,"February 25, 2009","Amsterdam, Netherlands",Turkish Airlines,134 (passengers:127 crew:7),9 (passengers:6 crew:3),0,Boeing 737-8F2,The plane was on final approach to Runway 18R ...
11,"March 09, 2009","Lake Victoria, Uganda",Aerolift,11 (passengers:7 crew:4),11 (passengers:7 crew:4),0,Ilyushin Il-76T,The cargo plane carrying and water purificatio...
12,"March 12, 2009","Off St. Johns, Newfoundland",Cougar Helicopters,18 (passengers:16 crew:2),17 (passengers:15 crew:2),0,Sikorsky S-92A,The pilot reported a technical malfunction and...
13,"March 22, 2009","Butte, Montana",Eagle Cap Leasing,14 (passengers:13 crew:1),14 (passengers:13 crew:1),0,Pilatus PC-12/45,The plane crashed 500 feet short of the runway...
14,"March 23, 2009","Tokyo, Japan",FedEx,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,McDonnell Douglas MD-11,The cargo plane crashed and burst into flame a...
15,"April 01, 2009","Off Crimond, Scotland",Bond Offshore Helicopters,16 (passengers:14 crew:2),16 (passengers:14 crew:2),0,Eurocopter AS 332L2 Super Puma 2,The helicopter crashed 35 miles East of Crimon...
16,"April 06, 2009","Bandung, Indonesia",Military - Indonesian Air Force,24 (passengers:18 crew:6),24 (passengers:18 crew:6),0,Fokker F-27 Friendship 400M,While returning from a military training exerc...
17,"April 09, 2009","Near Wamena, Indonesia",Aviastar Mandiri,6 (passengers:0 crew:6),6 (passengers:0 crew:6),0,British Aerospace BAe-146-300,The cargo plane crashed into Gunung Pike mount...
18,"April 17, 2009","Mount Gergaji, Indonesia",Mimika Air,11 (passengers:9 crew:2),11 (passengers:9 crew:2),0,Pilatus PC-6,The passenger plane crashed in poor weather in...
19,"April 17, 2009","Canaima National Park, Venezuela",Aerotuy Airline,11 (passengers:9 crew:2),1 (passengers:1 crew:0),0,Cessna 208B Grand Caravan,"The plane, carrying 9 tourists, crashed 5 mile..."
20,"April 29, 2009","Massamba, Democratic Republic of Congo",Bako Air,7 (passengers:5 crew:2),7 (passengers:5 crew:2),0,Boeing B-737-200,Crashed while en route on a ferrying flight. T...
21,"May 03, 2009","Near El Alto de Rubio, Venezuela",Military - Venezuelan Army,18 (passengers:16 crew:2),18 (passengers:16 crew:2),0,Mi-35,The helicopter was patrolling along the Venezu...
22,"May 20, 2009","Near Madiun, Indonesia",Military - Indonesian Air Force,112 (passengers:98 crew:14),98 (passengers:? crew:?),2,Lockheed C-130 Hercules,"While on approach, the military transport cras..."
23,"May 26, 2009","Near Isiro, Democratic Republic Congo",Service Air,4 (passengers:0 crew:4),4 (passengers:0 crew:3),?,Antonov An-26,The cargo plane crashed while on approach to I...
24,"June 01, 2009","Atlantic Ocean, 570 miles northeast of Natal, ...",Air France,228 (passengers:216 crew:12),228 (passengers:216 crew:12),0,Airbus A330-203,The Airbus went missing over the Atlantic Ocea...
25,"June 07, 2009","Near Port Hope Simpson, Newfoundland, Canada",Strait Air,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,Britten-Norman BN-2A-27 Islander,The air ambulance crashed into hills while att...
26,"June 08, 2009","State of Arunachal Pradesh, India",Military - Indian Air Force,13 (passengers:6 crew:7),13 (passengers:6 crew:7),0,Antonov An-32,The military transport went missing while en r...
27,"June 29, 2009","Near Wamena, Indonesia",Aviastar Mandiri,3 (passengers:0 crew:3),3 (passengers:0 crew:3),0,de Havilland Canada DHC-6 Twin Otter 300,"While en route and nearing it's destination, t..."
28,"June 30, 2009","Off Mitsamiouli, Comoros",Yemenia Airway,153 (passengers:142 crew:11),152 (passengers:141 crew:11),0,Airbus A310-324,"The plane crashed into the Indian Ocean, 10 mi..."
29,"July 03, 2009","Near, Peshawar , Pakistan",Military - Pakistan Army,26 (passengers:24 crew:2),26 (passengers:24 crew:2),0,Mil Mi-17,The military helicopter crashed en route while...
...,...,...,...,...,...,...,...,...
294,"June 07, 2017","Off Dawei, Myanmar",Myanmar Air Force,122 (passengers:108 crew:14),122 (passengers:108 crew:14),0,Shaanxi Y-8F-200W,The transport plane carrying military personne...
295,"June 28, 2017","Mount Gambier, South Australia",Angel Flight,3 (passengers:2 crew:1),3 (passengers:2 crew:1),0,Socata TB1-10 Tobago,The medical flight crashed 3 km south of Mount...
296,"July 10, 2017","Near Itta Bena, Mississipi",USMC,16 (passengers:14 crew:2),16 (passengers:14 crew:2),0,Lockheed KC-130T Hercules,"While en route, the Marine Corps transport suf..."
297,"October 14, 2017","Abidjan, Ivory Coast",Valan International Cargo Charter,10 (passengers:4 crew:6),4 (passengers:4 crew:0),0,Antonov AN-26-100,"The cargo plane, carrying French military carg..."
298,"November 15, 2017","Empakaai, Tanzania",Costal Aviation,11 (passengers:10 crew:1),11 (passengers:10 crew:1),0,Cessna 208B Grand Caravan,The chartered Cessna was flying tourists from ...
299,"December 13, 2017","Near Fond-du-Lac, Saskatchewan",West Wind Aviation,25 (passengers:22 crew:3),1 (passengers:1 crew:0),0,ATR42-320,"Shortly after taking off, the aircraft lost al..."
300,"December 31, 2017","Punta Islita, Costa Rica",Naure Air,12 (passengers:10 crew:2),12 (passengers:10 crew:2),0,Cessna 208B Grand Caravan,The passenger plane crashed 10 minutes after t...
301,"January 29, 2018","Zhengchang, Suiyang County, Guizhou Province",People's Liberation Army Air Force,12 (passengers:7 crew:5),12 (passengers:7 crew:5),0,Shaanxi Y-8GX-3,Unknown
302,"February 10, 2018","Grand Canyon, Arizona",Papillon,7 (passengers:6 crew:1),3 (passengers:3 crew:0),0,Eurocopter EC 130B4,The helicopter was observed making strange man...
303,"February 11, 2018","Argunovo, Russia",Saratov Airlines,71 (passengers:65 crew:6),71 (passengers:65 crew:6),0,Antonov AN-148-100,The regional airliner took off from Moscow at ...
304,"February 18, 2018","Kohangan village, Iran",Iran Aseman Airlines,66 (passengers:60 crew:6),66 (passengers:60 crew:6),0,Iran Aseman Airlines,The airliner was on approach to Yasuj Airport ...
305,"March 06, 2018","Latakia, Syria",Military - Russian Air Force,39 (passengers:33 crew:6),39 (passengers:33 crew:6),0,Antonov An-26,While on approach to Latakia-Khmeimim Air Base...
306,"March 11, 2018","New York, New York",Liberty Helicopters,6 (passengers:5 crew:1),5 (passengers:5 crew:0),0,Eurocopter AS 350B2,The sightseeing helicopter suddenly lost power...
307,"March 12, 2018","Kathmandu, Nepal",US-Bangla Airlines,71 (passengers:67 crew:4),51 (passengers:47 crew:4),0,de Havilland Canada DHC-8-402Q Dash 8,"After getting clearance to land, the aircraft ..."
308,"March 17, 2018","Plaridel, Philippines",Lite Air Express,5 (passengers:3 crew:2),5 (passengers:3 crew:2),5,Piper PA-32RT-300T,The small passenger plane crashed shortly afte...
309,"April 11, 2018","Boufarik AB, Algeria",Military - Algerian Air Force,257 (passengers:247 crew:10),257 (passengers:247 crew:10),0,Ilyushin 76-TD,The Algerian military plane crashed soon after...
310,"April 17, 2018","NW of Philadelphia, Pennsylvania",Southwest Airlines,149 (passengers:144 crew:5),1 (passengers:1 crew:0),0,Boeing 737-7H4,"While climbing to FL320, the No. 1 engine suff..."
311,"May 02, 2018","Port Wentworth, Georgia",Military - US Air Force,9 (passengers:0 crew:9),9 (passengers:0 crew:9),0,Lockheed HC-130H Hercules,A Porto Rico Air National Guard plane crashed ...
312,"May 18, 2018","Havana, Cuba",Cubana (leased from Global Air),113 (passengers:107 crew:6),112 (passengers:106 crew:6),0,Boeing 737-201,After taking off from runway 06 at Havana-José...
313,"June 05, 2018","Near Njabini, Kenya",Fly SAX,10 (passengers:8 crew:2),10 (passengers:8 crew:2),0,Cessna 208B Grand Caravan,Ground lost contact with the aircraft when it ...
314,"July 10, 2018","Pretoria, South Africa",Rovos Air,19 (passengers:16 crew:3),1 (passengers:0 crew:1),1,Convair CV-340,"Shortly after takeoff from runway 29, the left..."
315,"August 04, 2018","Flims, Switzerland",Ju Air,20 (passengers:17 crew:3),20 (passengers:17 crew:3),1,Junkers JU-52,The vintage aircraft crashed onto Piz Segnas m...
316,"September 28, 2018","Chuuk, Micronesia",Air Niugini,47 (passengers:35 crew:12),1 (passengers:1 crew:0),0,Boeing 737-8BK,The aircraft was approaching for a landing at ...
317,"October 29, 2018","Off Jakarta, Indonesia",Lion Air,189 (passengers:181 crew:8),189 (passengers:181 crew:8),0,Boeing 737-MAX 8,"The airliner crashed into the Jakarta Sea, 13 ..."
318,"November 06, 2018","Georgetown, Guyana",Fly Jamaica Airways,128 (passengers:120 crew:8),1 (passengers:1 crew:0),0,Boeing 757-N23,"After taking off and reaching FL200, the crew ..."
319,"November 18, 2018","Near Mandan, North Dakota",Metro Area Ambulance Services,3 (passengers:2 crew:1),3 (passengers:2 crew:1),0,Cessna 441 Conquest II,The air ambulance en route to pick up a patien...
320,"January 14, 2019","Karaj, Iran",Saha Air,16 (passengers:13 crew:3),15 (passengers:13 crew:2),0,Boeing 707-3J9C,The cargo plane was operated by the Iranian Ai...
321,"February 23, 2019","Houston, Texas",Atlas Air serving Amazon,3 (passengers:0 crew:3),3 (passengers:0 crew:3),0,Boeing 767-375ER,ATC lost radar contact with the cargo jet when...
322,"March 09, 2019","Vereda La Bendicion, Colombia",Laser Aereo Colombia,13 (passengers:11 crew:3),13 (passengers:11 crew:3),0,Douglas DC-3,"While on approach to land, the crew contacted ..."
323,"March 10, 2019","Bishoftu, Ethiopia",Ethiopian Airlines,157 (passengers:149 crew:8),157 (passengers:149 crew:8),0,Boeing 737 Max 8,The internationally scheduled airliner crashed...

In [10]:
from sqlalchemy import create_engine

In [11]:
## Format the date to be the YYYY-mm-dd format

def getMonth(month):
    Months = ['january','february','march','april','may','june','july','august','september','october','november','december']
    month = month.lower()
    for i,value in enumerate(Months):
        if value == month:
            return i+1
    return 0 


def convert_date(crash_date):
    data = str(crash_date).replace(',','').split(' ')
    date = dt.datetime(int(data[2]),getMonth(data[0]),int(data[1]))
    return date

crash_df['Date'] = crash_df.apply(lambda row: convert_date(row['Date']), axis=1)

crash_df.head()

,Date,Location,Operator,Aboard,Fatalities,Ground,Type,Summary
0,2009-01-01,"Lubock, Texas",Empire Airlines leased from FedEx,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,ATR-42-320,Crashed while attempting to land. The probable...
1,2009-01-04,Near Houma Louisiana,Petroleum Helicopters Inc,9 (passengers:7 crew:2),8 (passengers:6 crew:2),0,Sikorsky S-76C++,A helicopter bound for offshore oil fields wen...
2,2009-01-15,"New York, New York",US Airways,155 (passengers:150 crew:5),0 (passengers:0 crew:0),0,Airbus A320-214,The plane was taking off from La Guardia Airpo...
3,2009-01-15,"Adraskan district, Afghanistan",Afghan Army,13 (passengers:? crew:?),13 (passengers:? crew:?),0,Mil Mi-17,Either shot down or crashed due to bad weather.
4,2009-02-07,"Manacapuru, Brazil",Aerotaxi Manaus,28 (passengers:26 crew:2),24 (passengers:22 crew:2),0,Bandeirante EMB-110P1,The plane was being used as an air taxi to fer...

In [12]:
def get_member_cnt(total_aboard):
    if total_aboard != '?' :
               print(total_aboard.split())
               s = ' '.join(total_aboard.split())
               print(s)
               aboard_ = s.replace('(','').replace(')','').split(' ')

               if aboard_[0] != '?':
                   aboard_total = aboard_[0]
               else:
                   aboard_total = 'NULL'
    else:
        aboard_total='NULL'
    
    return aboard_total

# 
def get_fatal_passenger_cnt(fatal_cnt):
if fatal_cnt != '?' :

           s = ' '.join(fatal_cnt.split())
           print(s)
           fatal_ = s.replace('(','').replace(')','').split(' ')

           print(fatal_)

           passengers = fatal_[1].replace("passengers:","")
           if passengers != '?':
               fatal_passengers = passengers
           else:
               fatal_passengers = 'NULL'

else: 
    fatal_passengers='NULL'
return fatal_passengers
def get_fatal_crew_cnt(fatal_cnt):
if fatal_cnt != '?' :

           s = ' '.join(fatal_cnt.split())
           fatal_ = s.replace('(','').replace(')','').split(' ')

           crew = fatal_[2].replace("crew:","")
           if crew != '?':
               fatal_crew = crew
           else:
               fatal_crew = 'NULL'

else: 
    fatal_crew='NULL'
return fatal_crew
crash_df['Fatalities_Passenger'] = crash_df['Fatalities'].apply (lambda row: get_fatal_passenger_cnt(row))

crash_df['Fatal_Crew']=crash_df['Fatalities'].apply (lambda row: get_fatal_crew_cnt(row))

In [13]:
crash_df

,Date,Location,Operator,Aboard,Fatalities,Ground,Type,Summary
0,2009-01-01,"Lubock, Texas",Empire Airlines leased from FedEx,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,ATR-42-320,Crashed while attempting to land. The probable...
1,2009-01-04,Near Houma Louisiana,Petroleum Helicopters Inc,9 (passengers:7 crew:2),8 (passengers:6 crew:2),0,Sikorsky S-76C++,A helicopter bound for offshore oil fields wen...
2,2009-01-15,"New York, New York",US Airways,155 (passengers:150 crew:5),0 (passengers:0 crew:0),0,Airbus A320-214,The plane was taking off from La Guardia Airpo...
3,2009-01-15,"Adraskan district, Afghanistan",Afghan Army,13 (passengers:? crew:?),13 (passengers:? crew:?),0,Mil Mi-17,Either shot down or crashed due to bad weather.
4,2009-02-07,"Manacapuru, Brazil",Aerotaxi Manaus,28 (passengers:26 crew:2),24 (passengers:22 crew:2),0,Bandeirante EMB-110P1,The plane was being used as an air taxi to fer...
5,2009-02-07,"Trigoria, Italy",Air One Executive,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,Cessna 650 Citation III,"The plane, heading to Bologna to pick up a med..."
6,2009-02-12,"Clarence Center, New York",Continental Connection/Colgan Air,49 (passengers:44 crew:5),49 (passengers:44 crew:5),1,Bombardier DHC-8-402 Q400,The commuter plane crashed while attemptiong t...
7,2009-02-15,"Near Isfahan/Shahin Shahr-Hesa Air Base, Iran",HESA,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,HESA IrAn-140-100,The aircraft crashed druing a training flight.
8,2009-02-15,"Chanco, Chile",Flight Service,13 (passengers:12 crew:1),13 (passengers:12 crew:1),0,Bell UH-1H,The helicopter was carrying firemen to a nearb...
9,2009-02-20,"Luxor, Egypt",Aerolift,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,Antonov 12V,"While attemping to take off from Luxor, the ca..."
10,2009-02-25,"Amsterdam, Netherlands",Turkish Airlines,134 (passengers:127 crew:7),9 (passengers:6 crew:3),0,Boeing 737-8F2,The plane was on final approach to Runway 18R ...
11,2009-03-09,"Lake Victoria, Uganda",Aerolift,11 (passengers:7 crew:4),11 (passengers:7 crew:4),0,Ilyushin Il-76T,The cargo plane carrying and water purificatio...
12,2009-03-12,"Off St. Johns, Newfoundland",Cougar Helicopters,18 (passengers:16 crew:2),17 (passengers:15 crew:2),0,Sikorsky S-92A,The pilot reported a technical malfunction and...
13,2009-03-22,"Butte, Montana",Eagle Cap Leasing,14 (passengers:13 crew:1),14 (passengers:13 crew:1),0,Pilatus PC-12/45,The plane crashed 500 feet short of the runway...
14,2009-03-23,"Tokyo, Japan",FedEx,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,McDonnell Douglas MD-11,The cargo plane crashed and burst into flame a...
15,2009-04-01,"Off Crimond, Scotland",Bond Offshore Helicopters,16 (passengers:14 crew:2),16 (passengers:14 crew:2),0,Eurocopter AS 332L2 Super Puma 2,The helicopter crashed 35 miles East of Crimon...
16,2009-04-06,"Bandung, Indonesia",Military - Indonesian Air Force,24 (passengers:18 crew:6),24 (passengers:18 crew:6),0,Fokker F-27 Friendship 400M,While returning from a military training exerc...
17,2009-04-09,"Near Wamena, Indonesia",Aviastar Mandiri,6 (passengers:0 crew:6),6 (passengers:0 crew:6),0,British Aerospace BAe-146-300,The cargo plane crashed into Gunung Pike mount...
18,2009-04-17,"Mount Gergaji, Indonesia",Mimika Air,11 (passengers:9 crew:2),11 (passengers:9 crew:2),0,Pilatus PC-6,The passenger plane crashed in poor weather in...
19,2009-04-17,"Canaima National Park, Venezuela",Aerotuy Airline,11 (passengers:9 crew:2),1 (passengers:1 crew:0),0,Cessna 208B Grand Caravan,"The plane, carrying 9 tourists, crashed 5 mile..."
20,2009-04-29,"Massamba, Democratic Republic of Congo",Bako Air,7 (passengers:5 crew:2),7 (passengers:5 crew:2),0,Boeing B-737-200,Crashed while en route on a ferrying flight. T...
21,2009-05-03,"Near El Alto de Rubio, Venezuela",Military - Venezuelan Army,18 (passengers:16 crew:2),18 (passengers:16 crew:2),0,Mi-35,The helicopter was patrolling along the Venezu...
22,2009-05-20,"Near Madiun, Indonesia",Military - Indonesian Air Force,112 (passengers:98 crew:14),98 (passengers:? crew:?),2,Lockheed C-130 Hercules,"While on approach, the military transport cras..."
23,2009-05-26,"Near Isiro, Democratic Republic Congo",Service Air,4 (passengers:0 crew:4),4 (passengers:0 crew:3),?,Antonov An-26,The cargo plane crashed while on approach to I...
24,2009-06-01,"Atlantic Ocean, 570 miles northeast of Natal, ...",Air France,228 (passengers:216 crew:12),228 (passengers:216 crew:12),0,Airbus A330-203,The Airbus went missing over the Atlantic Ocea...
25,2009-06-07,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,Britten-Norman BN-2A-27 Islander,The air ambulance crashed into hills while att...
26,2009-06-08,"State of Arunachal Pradesh, India",Military - Indian Air Force,13 (passengers:6 crew:7),13 (passengers:6 crew:7),0,Antonov An-32,The military transport went missing while en r...
27,2009-06-29,"Near Wamena, Indonesia",Aviastar Mandiri,3 (passengers:0 crew:3),3 (passengers:0 crew:3),0,de Havilland Canada DHC-6 Twin Otter 300,"While en route and nearing it's destination, t..."
28,2009-06-30,"Off Mitsamiouli, Comoros",Yemenia Airway,153 (passengers:142 crew:11),152 (passengers:141 crew:11),0,Airbus A310-324,"The plane crashed into the Indian Ocean, 10 mi..."
29,2009-07-03,"Near, Peshawar , Pakistan",Military - Pakistan Army,26 (passengers:24 crew:2),26 (passengers:24 crew:2),0,Mil Mi-17,The military helicopter crashed en route while...
...,...,...,...,...,...,...,...,...
294,2017-06-07,"Off Dawei, Myanmar",Myanmar Air Force,122 (passengers:108 crew:14),122 (passengers:108 crew:14),0,Shaanxi Y-8F-200W,The transport plane carrying military personne...
295,2017-06-28,"Mount Gambier, South Australia",Angel Flight,3 (passengers:2 crew:1),3 (passengers:2 crew:1),0,Socata TB1-10 Tobago,The medical flight crashed 3 km south of Mount...
296,2017-07-10,"Near Itta Bena, Mississipi",USMC,16 (passengers:14 crew:2),16 (passengers:14 crew:2),0,Lockheed KC-130T Hercules,"While en route, the Marine Corps transport suf..."
297,2017-10-14,"Abidjan, Ivory Coast",Valan International Cargo Charter,10 (passengers:4 crew:6),4 (passengers:4 crew:0),0,Antonov AN-26-100,"The cargo plane, carrying French military carg..."
298,2017-11-15,"Empakaai, Tanzania",Costal Aviation,11 (passengers:10 crew:1),11 (passengers:10 crew:1),0,Cessna 208B Grand Caravan,The chartered Cessna was flying tourists from ...
299,2017-12-13,"Near Fond-du-Lac, Saskatchewan",West Wind Aviation,25 (passengers:22 crew:3),1 (passengers:1 crew:0),0,ATR42-320,"Shortly after taking off, the aircraft lost al..."
300,2017-12-31,"Punta Islita, Costa Rica",Naure Air,12 (passengers:10 crew:2),12 (passengers:10 crew:2),0,Cessna 208B Grand Caravan,The passenger plane crashed 10 minutes after t...
301,2018-01-29,"Zhengchang, Suiyang County, Guizhou Province",People's Liberation Army Air Force,12 (passengers:7 crew:5),12 (passengers:7 crew:5),0,Shaanxi Y-8GX-3,Unknown
302,2018-02-10,"Grand Canyon, Arizona",Papillon,7 (passengers:6 crew:1),3 (passengers:3 crew:0),0,Eurocopter EC 130B4,The helicopter was observed making strange man...
303,2018-02-11,"Argunovo, Russia",Saratov Airlines,71 (passengers:65 crew:6),71 (passengers:65 crew:6),0,Antonov AN-148-100,The regional airliner took off from Moscow at ...
304,2018-02-18,"Kohangan village, Iran",Iran Aseman Airlines,66 (passengers:60 crew:6),66 (passengers:60 crew:6),0,Iran Aseman Airlines,The airliner was on approach to Yasuj Airport ...
305,2018-03-06,"Latakia, Syria",Military - Russian Air Force,39 (passengers:33 crew:6),39 (passengers:33 crew:6),0,Antonov An-26,While on approach to Latakia-Khmeimim Air Base...
306,2018-03-11,"New York, New York",Liberty Helicopters,6 (passengers:5 crew:1),5 (passengers:5 crew:0),0,Eurocopter AS 350B2,The sightseeing helicopter suddenly lost power...
307,2018-03-12,"Kathmandu, Nepal",US-Bangla Airlines,71 (passengers:67 crew:4),51 (passengers:47 crew:4),0,de Havilland Canada DHC-8-402Q Dash 8,"After getting clearance to land, the aircraft ..."
308,2018-03-17,"Plaridel, Philippines",Lite Air Express,5 (passengers:3 crew:2),5 (passengers:3 crew:2),5,Piper PA-32RT-300T,The small passenger plane crashed shortly afte...
309,2018-04-11,"Boufarik AB, Algeria",Military - Algerian Air Force,257 (passengers:247 crew:10),257 (passengers:247 crew:10),0,Ilyushin 76-TD,The Algerian military plane crashed soon after...
310,2018-04-17,"NW of Philadelphia, Pennsylvania",Southwest Airlines,149 (passengers:144 crew:5),1 (passengers:1 crew:0),0,Boeing 737-7H4,"While climbing to FL320, the No. 1 engine suff..."
311,2018-05-02,"Port Wentworth, Georgia",Military - US Air Force,9 (passengers:0 crew:9),9 (passengers:0 crew:9),0,Lockheed HC-130H Hercules,A Porto Rico Air National Guard plane crashed ...
312,2018-05-18,"Havana, Cuba",Cubana (leased from Global Air),113 (passengers:107 crew:6),112 (passengers:106 crew:6),0,Boeing 737-201,After taking off from runway 06 at Havana-José...
313,2018-06-05,"Near Njabini, Kenya",Fly SAX,10 (passengers:8 crew:2),10 (passengers:8 crew:2),0,Cessna 208B Grand Caravan,Ground lost contact with the aircraft when it ...
314,2018-07-10,"Pretoria, South Africa",Rovos Air,19 (passengers:16 crew:3),1 (passengers:0 crew:1),1,Convair CV-340,"Shortly after takeoff from runway 29, the left..."
315,2018-08-04,"Flims, Switzerland",Ju Air,20 (passengers:17 crew:3),20 (passengers:17 crew:3),1,Junkers JU-52,The vintage aircraft crashed onto Piz Segnas m...
316,2018-09-28,"Chuuk, Micronesia",Air Niugini,47 (passengers:35 crew:12),1 (passengers:1 crew:0),0,Boeing 737-8BK,The aircraft was approaching for a landing at ...
317,2018-10-29,"Off Jakarta, Indonesia",Lion Air,189 (passengers:181 crew:8),189 (passengers:181 crew:8),0,Boeing 737-MAX 8,"The airliner crashed into the Jakarta Sea, 13 ..."
318,2018-11-06,"Georgetown, Guyana",Fly Jamaica Airways,128 (passengers:120 crew:8),1 (passengers:1 crew:0),0,Boeing 757-N23,"After taking off and reaching FL200, the crew ..."
319,2018-11-18,"Near Mandan, North Dakota",Metro Area Ambulance Services,3 (passengers:2 crew:1),3 (passengers:2 crew:1),0,Cessna 441 Conquest II,The air ambulance en route to pick up a patien...
320,2019-01-14,"Karaj, Iran",Saha Air,16 (passengers:13 crew:3),15 (passengers:13 crew:2),0,Boeing 707-3J9C,The cargo plane was operated by the Iranian Ai...
321,2019-02-23,"Houston, Texas",Atlas Air serving Amazon,3 (passengers:0 crew:3),3 (passengers:0 crew:3),0,Boeing 767-375ER,ATC lost radar contact with the cargo jet when...
322,2019-03-09,"Vereda La Bendicion, Colombia",Laser Aereo Colombia,13 (passengers:11 crew:3),13 (passengers:11 crew:3),0,Douglas DC-3,"While on approach to land, the crew contacted ..."
323,2019-03-10,"Bishoftu, Ethiopia",Ethiopian Airlines,157 (passengers:149 crew:8),157 (passengers:149 crew:8),0,Boeing 737 Max 8,The internationally scheduled airliner crashed...

In [14]:
crash_df['Aboard'] = crash_df.apply(lambda row: get_member_cnt(row['Aboard']), axis=1)

['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['9', '(passengers:7', 'crew:2)']
9 (passengers:7 crew:2)
['155', '(passengers:150', 'crew:5)']
155 (passengers:150 crew:5)
['13', '(passengers:?', 'crew:?)']
13 (passengers:? crew:?)
['28', '(passengers:26', 'crew:2)']
28 (passengers:26 crew:2)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['49', '(passengers:44', 'crew:5)']
49 (passengers:44 crew:5)
['5', '(passengers:0', 'crew:5)']
5 (passengers:0 crew:5)
['13', '(passengers:12', 'crew:1)']
13 (passengers:12 crew:1)
['5', '(passengers:0', 'crew:5)']
5 (passengers:0 crew:5)
['134', '(passengers:127', 'crew:7)']
134 (passengers:127 crew:7)
['11', '(passengers:7', 'crew:4)']
11 (passengers:7 crew:4)
['18', '(passengers:16', 'crew:2)']
18 (passengers:16 crew:2)
['14', '(passengers:13', 'crew:1)']
14 (passengers:13 crew:1)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['16', '(passengers:14', 'crew:2)']
16 (passengers:14 crew:2)
['24', '(passengers:18', 'crew:6)']
24 (passengers:18 crew:6)
['6', '(passengers:0', 'crew:6)']
6 (passengers:0 crew:6)
['11', '(passengers:9', 'crew:2)']
11 (passengers:9 crew:2)
['11', '(passengers:9', 'crew:2)']
11 (passengers:9 crew:2)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['18', '(passengers:16', 'crew:2)']
18 (passengers:16 crew:2)
['112', '(passengers:98', 'crew:14)']
112 (passengers:98 crew:14)
['4', '(passengers:0', 'crew:4)']
4 (passengers:0 crew:4)
['228', '(passengers:216', 'crew:12)']
228 (passengers:216 crew:12)
['1', '(passengers:0', 'crew:1)']
1 (passengers:0 crew:1)
['13', '(passengers:6', 'crew:7)']
13 (passengers:6 crew:7)
['3', '(passengers:0', 'crew:3)']
3 (passengers:0 crew:3)
['153', '(passengers:142', 'crew:11)']
153 (passengers:142 crew:11)
['26', '(passengers:24', 'crew:2)']
26 (passengers:24 crew:2)
['168', '(passengers:153', 'crew:15)']
168 (passengers:153 crew:15)
['21', '(passengers:?', 'crew:?)']
21 (passengers:? crew:?)
['153', '(passengers:138', 'crew:15)']
153 (passengers:138 crew:15)
['16', '(passengers:13', 'crew:3)']
16 (passengers:13 crew:3)
['72', '(passengers:68', 'crew:4)']
72 (passengers:68 crew:4)
['9', '(passengers:7', 'crew:2)']
9 (passengers:7 crew:2)
['13', '(passengers:11', 'crew:2)']
13 (passengers:11 crew:2)
['7', '(passengers:2', 'crew:5)']
7 (passengers:2 crew:5)
['13', '(passengers:?', 'crew:?)']
13 (passengers:? crew:?)
['3', '(passengers:0', 'crew:3)']
3 (passengers:0 crew:3)
['3', '(passengers:2', 'crew:1)']
3 (passengers:2 crew:1)
['4', '(passengers:0', 'crew:4)']
4 (passengers:0 crew:4)
['6', '(passengers:0', 'crew:6)']
6 (passengers:0 crew:6)
['10', '(passengers:9', 'crew:1)']
10 (passengers:9 crew:1)
['11', '(passengers:0', 'crew:11)']
11 (passengers:0 crew:11)
['11', '(passengers:0', 'crew:11)']
11 (passengers:0 crew:11)
['15', '(passengers:12', 'crew:3)']
15 (passengers:12 crew:3)
['3', '(passengers:0', 'crew:3)']
3 (passengers:0 crew:3)
['4', '(passengers:3', 'crew:1)']
4 (passengers:3 crew:1)
['7', '(passengers:0', 'crew:7)']
7 (passengers:0 crew:7)
['8', '(passengers:7', 'crew:1)']
8 (passengers:7 crew:1)
['7', '(passengers:6', 'crew:1)']
7 (passengers:6 crew:1)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['90', '(passengers:82', 'crew:8)']
90 (passengers:82 crew:8)
['10', '(passengers:8', 'crew:2)']
10 (passengers:8 crew:2)
['8', '(passengers:6', 'crew:2)']
8 (passengers:6 crew:2)
['11', '(passengers:9', 'crew:2)']
11 (passengers:9 crew:2)
['7', '(passengers:6', 'crew:1)']
7 (passengers:6 crew:1)
['96', '(passengers:88', 'crew:8)']
96 (passengers:88 crew:8)
['18', '(passengers:15', 'crew:3)']
18 (passengers:15 crew:3)
['5', '(passengers:0', 'crew:5)']
5 (passengers:0 crew:5)
['6', '(passengers:0', 'crew:6)']
6 (passengers:0 crew:6)
['104', '(passengers:93', 'crew:11)']
104 (passengers:93 crew:11)
['8', '(passengers:6', 'crew:2)']
8 (passengers:6 crew:2)
['44', '(passengers:38', 'crew:6)']
44 (passengers:38 crew:6)
['166', '(passengers:160', 'crew:6)']
166 (passengers:160 crew:6)
['4', '(passengers:3', 'crew:1)']
4 (passengers:3 crew:1)
['8', '(passengers:6', 'crew:2)']
8 (passengers:6 crew:2)
['11', '(passengers:9', 'crew:2)']
11 (passengers:9 crew:2)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['14', '(passengers:10', 'crew:4)']
14 (passengers:10 crew:4)
['4', '(passengers:0', 'crew:4)']
4 (passengers:0 crew:4)
['152', '(passengers:146', 'crew:6)']
152 (passengers:146 crew:6)
['3', '(passengers:0', 'crew:3)']
3 (passengers:0 crew:3)
['15', '(passengers:12', 'crew:3)']
15 (passengers:12 crew:3)
['9', '(passengers:8', 'crew:1)']
9 (passengers:8 crew:1)
['131', '(passengers:125', 'crew:6)']
131 (passengers:125 crew:6)
['4', '(passengers:3', 'crew:1)']
4 (passengers:3 crew:1)
['96', '(passengers:91', 'crew:5)']
96 (passengers:91 crew:5)
['14', '(passengers:11', 'crew:3)']
14 (passengers:11 crew:3)
['20', '(passengers:17', 'crew:3)']
20 (passengers:17 crew:3)
['10', '(passengers:?', 'crew:?)']
10 (passengers:? crew:?)
['5', '(passengers:3', 'crew:2)']
5 (passengers:3 crew:2)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['9', '(passengers:8', 'crew:1)']
9 (passengers:8 crew:1)
['51', '(passengers:47', 'crew:4)']
51 (passengers:47 crew:4)
['13', '(passengers:?', 'crew:?)']
13 (passengers:? crew:?)
['28', '(passengers:?', 'crew:?)']
28 (passengers:? crew:?)
['8', '(passengers:?', 'crew:?)']
8 (passengers:? crew:?)
['8', '(passengers:0', 'crew:8)']
8 (passengers:0 crew:8)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['5', '(passengers:?', 'crew:?)']
5 (passengers:? crew:?)
['68', '(passengers:61', 'crew:7)']
68 (passengers:61 crew:7)
['21', '(passengers:17', 'crew:4)']
21 (passengers:17 crew:4)
['10', '(passengers:?', 'crew:?)']
10 (passengers:? crew:?)
['8', '(passengers:0', 'crew:8)']
8 (passengers:0 crew:8)
['169', '(passengers:160', 'crew:9)']
169 (passengers:160 crew:9)
['22', '(passengers:19', 'crew:3)']
22 (passengers:19 crew:3)
['124', '(passengers:116', 'crew:8)']
124 (passengers:116 crew:8)
['105', '(passengers:93', 'crew:12)']
105 (passengers:93 crew:12)
['9', '(passengers:7', 'crew:2)']
9 (passengers:7 crew:2)
['12', '(passengers:10', 'crew:2)']
12 (passengers:10 crew:2)
['14', '(passengers:12', 'crew:2)']
14 (passengers:12 crew:2)
['6', '(passengers:5', 'crew:1)']
6 (passengers:5 crew:1)
['9', '(passengers:5', 'crew:4)']
9 (passengers:5 crew:4)
['33', '(passengers:29', 'crew:4)']
33 (passengers:29 crew:4)
['23', '(passengers:?', 'crew:?)']
23 (passengers:? crew:?)
['7', '(passengers:6', 'crew:1)']
7 (passengers:6 crew:1)
['27', '(passengers:21', 'crew:6)']
27 (passengers:21 crew:6)
['22', '(passengers:19', 'crew:3)']
22 (passengers:19 crew:3)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['52', '(passengers:43', 'crew:9)']
52 (passengers:43 crew:9)
['9', '(passengers:0', 'crew:9)']
9 (passengers:0 crew:9)
['115', '(passengers:108', 'crew:7)']
115 (passengers:108 crew:7)
['37', '(passengers:33', 'crew:4)']
37 (passengers:33 crew:4)
['16', '(passengers:14', 'crew:2)']
16 (passengers:14 crew:2)
['80', '(passengers:71', 'crew:9)']
80 (passengers:71 crew:9)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['8', '(passengers:6', 'crew:2)']
8 (passengers:6 crew:2)
['38', '(passengers:?', 'crew:?)']
38 (passengers:? crew:?)
['11', '(passengers:2', 'crew:9)']
11 (passengers:2 crew:9)
['6', '(passengers:5', 'crew:1)']
6 (passengers:5 crew:1)
['15', '(passengers:11', 'crew:4)']
15 (passengers:11 crew:4)
['4', '(passengers:3', 'crew:1)']
4 (passengers:3 crew:1)
['21', '(passengers:17', 'crew:4)']
21 (passengers:17 crew:4)
['9', '(passengers:7', 'crew:2)']
9 (passengers:7 crew:2)
['45', '(passengers:37', 'crew:8)']
45 (passengers:37 crew:8)
['36', '(passengers:34', 'crew:2)']
36 (passengers:34 crew:2)
['1', '(passengers:0', 'crew:1)']
1 (passengers:0 crew:1)
['3', '(passengers:1', 'crew:2)']
3 (passengers:1 crew:2)
['9', '(passengers:7', 'crew:2)']
9 (passengers:7 crew:2)
['19', '(passengers:16', 'crew:3)']
19 (passengers:16 crew:3)
['18', '(passengers:14', 'crew:4)']
18 (passengers:14 crew:4)
['4', '(passengers:3', 'crew:1)']
4 (passengers:3 crew:1)
['32', '(passengers:28', 'crew:4)']
32 (passengers:28 crew:4)
['11', '(passengers:9', 'crew:2)']
11 (passengers:9 crew:2)
['9', '(passengers:7', 'crew:2)']
9 (passengers:7 crew:2)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['8', '(passengers:7', 'crew:1)']
8 (passengers:7 crew:1)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['5', '(passengers:?', 'crew:?)']
5 (passengers:? crew:?)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['4', '(passengers:3', 'crew:1)']
4 (passengers:3 crew:1)
['3', '(passengers:2', 'crew:1)']
3 (passengers:2 crew:1)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['5', '(passengers:3', 'crew:3)']
5 (passengers:3 crew:3)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['12', '(passengers:?', 'crew:?)']
12 (passengers:? crew:?)
['43', '(passengers:39', 'crew:4)']
43 (passengers:39 crew:4)
['127', '(passengers:121', 'crew:6)']
127 (passengers:121 crew:6)
['13', '(passengers:11', 'crew:2)']
13 (passengers:11 crew:2)
['45', '(passengers:39', 'crew:6)']
45 (passengers:39 crew:6)
['21', '(passengers:18', 'crew:3)']
21 (passengers:18 crew:3)
['4', '(passengers:0', 'crew:4)']
4 (passengers:0 crew:4)
['153', '(passengers:146', 'crew:7)']
153 (passengers:146 crew:7)
['14', '(passengers:12', 'crew:2)']
14 (passengers:12 crew:2)
['13', '(passengers:12', 'crew:1)']
13 (passengers:12 crew:1)
['7', '(passengers:0', 'crew:7)']
7 (passengers:0 crew:7)
['4', '(passengers:2', 'crew:2)']
4 (passengers:2 crew:2)
['32', '(passengers:26', 'crew:6)']
32 (passengers:26 crew:6)
['14', '(passengers:12', 'crew:2)']
14 (passengers:12 crew:2)
['19', '(passengers:16', 'crew:3)']
19 (passengers:16 crew:3)
['22', '(passengers:16', 'crew:6)']
22 (passengers:16 crew:6)
['4', '(passengers:3', 'crew:1)']
4 (passengers:3 crew:1)
['1', '(passengers:0', 'crew:1)']
1 (passengers:0 crew:1)
['10', '(passengers:0', 'crew:10)']
10 (passengers:0 crew:10)
['7', '(passengers:0', 'crew:7)']
7 (passengers:0 crew:7)
['11', '(passengers:5', 'crew:6)']
11 (passengers:5 crew:6)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['3', '(passengers:0', 'crew:3)']
3 (passengers:0 crew:3)
['27', '(passengers:20', 'crew:7)']
27 (passengers:20 crew:7)
['71', '(passengers:65', 'crew:6)']
71 (passengers:65 crew:6)
['8', '(passengers:0', 'crew:8)']
8 (passengers:0 crew:8)
['3', '(passengers:2', 'crew:1)']
3 (passengers:2 crew:1)
['6', '(passengers:5', 'crew:1)']
6 (passengers:5 crew:1)
['21', '(passengers:16', 'crew:5)']
21 (passengers:16 crew:5)
['45', '(passengers:41', 'crew:4)']
45 (passengers:41 crew:4)
['10', '(passengers:4', 'crew:6)']
10 (passengers:4 crew:6)
['9', '(passengers:7', 'crew:2)']
9 (passengers:7 crew:2)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['10', '(passengers:9', 'crew:1)']
10 (passengers:9 crew:1)
['108', '(passengers:101', 'crew:7)']
108 (passengers:101 crew:7)
['7', '(passengers:0', 'crew:7)']
7 (passengers:0 crew:7)
['4', '(passengers:2', 'crew:2)']
4 (passengers:2 crew:2)
['20', '(passengers:15', 'crew:5)']
20 (passengers:15 crew:5)
['307', '(passengers:291', 'crew:16)']
307 (passengers:291 crew:16)
['10', '(passengers:9', 'crew:1)']
10 (passengers:9 crew:1)
['6', '(passengers:0', 'crew:6)']
6 (passengers:0 crew:6)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['20', '(passengers:?', 'crew:?)']
20 (passengers:? crew:?)
['16', '(passengers:14', 'crew:2)']
16 (passengers:14 crew:2)
['14', '(passengers:13', 'crew:1)']
14 (passengers:13 crew:1)
['49', '(passengers:44', 'crew:5)']
49 (passengers:44 crew:5)
['11', '(passengers:10', 'crew:1)']
11 (passengers:10 crew:1)
['18', '(passengers:16', 'crew:2)']
18 (passengers:16 crew:2)
['21', '(passengers:13', 'crew:8)']
21 (passengers:13 crew:8)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['50', '(passengers:44', 'crew:6)']
50 (passengers:44 crew:6)
['2', '(passengers:2', 'crew:2)']
2 (passengers:2 crew:2)
['10', '(passengers:9', 'crew:1)']
10 (passengers:9 crew:1)
['33', '(passengers:27', 'crew:6)']
33 (passengers:27 crew:6)
['3', '(passengers:2', 'crew:1)']
3 (passengers:2 crew:1)
['10', '(passengers:9', 'crew:1)']
10 (passengers:9 crew:1)
['5', '(passengers:3', 'crew:2)']
5 (passengers:3 crew:2)
['9', '(passengers:8', 'crew:1)']
9 (passengers:8 crew:1)
['9', '(passengers:3', 'crew:6)']
9 (passengers:3 crew:6)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['78', '(passengers:?', 'crew:?)']
78 (passengers:? crew:?)
['18', '(passengers:15', 'crew:3)']
18 (passengers:15 crew:3)
['11', '(passengers:6', 'crew:5)']
11 (passengers:6 crew:5)
['6', '(passengers:5', 'crew:1)']
6 (passengers:5 crew:1)
['239', '(passengers:227', 'crew:12)']
239 (passengers:227 crew:12)
['2', '(passengers:1', 'crew:1)']
2 (passengers:1 crew:1)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['8', '(passengers:6', 'crew:2)']
8 (passengers:6 crew:2)
['8', '(passengers:7', 'crew:1)']
8 (passengers:7 crew:1)
['6', '(passengers:0', 'crew:6)']
6 (passengers:0 crew:6)
['17', '(passengers:11', 'crew:6)']
17 (passengers:11 crew:6)
['49', '(passengers:40', 'crew:9)']
49 (passengers:40 crew:9)
['4', '(passengers:0', 'crew:4)']
4 (passengers:0 crew:4)
['19', '(passengers:21', 'crew:2)']
19 (passengers:21 crew:2)
['298', '(passengers:283', 'crew:15)']
298 (passengers:283 crew:15)
['58', '(passengers:54', 'crew:4)']
58 (passengers:54 crew:4)
['116', '(passengers:110', 'crew:6)']
116 (passengers:110 crew:6)
['48', '(passengers:40', 'crew:8)']
48 (passengers:40 crew:8)
['4', '(passengers:2', 'crew:2)']
4 (passengers:2 crew:2)
['4', '(passengers:3', 'crew:1)']
4 (passengers:3 crew:1)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['3', '(passengers:1', 'crew:2)']
3 (passengers:1 crew:2)
['10', '(passengers:8', 'crew:2)']
10 (passengers:8 crew:2)
['9', '(passengers:7', 'crew:2)']
9 (passengers:7 crew:2)
['4', '(passengers:1', 'crew:3)']
4 (passengers:1 crew:3)
['11', '(passengers:10', 'crew:1)']
11 (passengers:10 crew:1)
['10', '(passengers:8', 'crew:2)']
10 (passengers:8 crew:2)
['7', '(passengers:6', 'crew:1)']
7 (passengers:6 crew:1)
['6', '(passengers:0', 'crew:6)']
6 (passengers:0 crew:6)
['162', '(passengers:155', 'crew:7)']
162 (passengers:155 crew:7)
['37', '(passengers:35', 'crew:2)']
37 (passengers:35 crew:2)
['58', '(passengers:53', 'crew:5)']
58 (passengers:53 crew:5)
['10', '(passengers:8', 'crew:2)']
10 (passengers:8 crew:2)
['150', '(passengers:144', 'crew:6)']
150 (passengers:144 crew:6)
['7', '(passengers:6', 'crew:1)']
7 (passengers:6 crew:1)
['9', '(passengers:8', 'crew:1)']
9 (passengers:8 crew:1)
['122', '(passengers:110', 'crew:12)']
122 (passengers:110 crew:12)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['11', '(passengers:0', 'crew:11)']
11 (passengers:0 crew:11)
['6', '(passengers:4', 'crew:2)']
6 (passengers:4 crew:2)
['54', '(passengers:49', 'crew:5)']
54 (passengers:49 crew:5)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['7', '(passengers:6', 'crew:1)']
7 (passengers:6 crew:1)
['11', '(passengers:5', 'crew:6)']
11 (passengers:5 crew:6)
['10', '(passengers:7', 'crew:3)']
10 (passengers:7 crew:3)
['4', '(passengers:0', 'crew:4)']
4 (passengers:0 crew:4)
['224', '(passengers:217', 'crew:7)']
224 (passengers:217 crew:7)
['43', '(passengers:38', 'crew:5)']
43 (passengers:38 crew:5)
['7', '(passengers:6', 'crew:1)']
7 (passengers:6 crew:1)
['26', '(passengers:22', 'crew:4)']
26 (passengers:22 crew:4)
['10', '(passengers:9', 'crew:1)']
10 (passengers:9 crew:1)
['4', '(passengers:0', 'crew:4)']
4 (passengers:0 crew:4)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['72', '(passengers:72', 'crew:?)']
72 (passengers:72 crew:?)
['23', '(passengers:20', 'crew:3)']
23 (passengers:20 crew:3)
['11', '(passengers:9', 'crew:2)']
11 (passengers:9 crew:2)
['4', '(passengers:0', 'crew:4)']
4 (passengers:0 crew:4)
['22', '(passengers:19', 'crew:3)']
22 (passengers:19 crew:3)
['62', '(passengers:55', 'crew:7)']
62 (passengers:55 crew:7)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['12', '(passengers:11', 'crew:1)']
12 (passengers:11 crew:1)
['13', '(passengers:11', 'crew:2)']
13 (passengers:11 crew:2)
['66', '(passengers:56', 'crew:10)']
66 (passengers:56 crew:10)
['29', '(passengers:23', 'crew:6)']
29 (passengers:23 crew:6)
['16', '(passengers:15', 'crew:1)']
16 (passengers:15 crew:1)
['300', '(passengers:282', 'crew:18)']
300 (passengers:282 crew:18)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['5', '(passengers:3', 'crew:2)']
5 (passengers:3 crew:2)
['4', '(passengers:1', 'crew:3)']
4 (passengers:1 crew:3)
['77', '(passengers:68', 'crew:9)']
77 (passengers:68 crew:9)
['13', '(passengers:8', 'crew:5)']
13 (passengers:8 crew:5)
['48', '(passengers:42', 'crew:6)']
48 (passengers:42 crew:6)
['13', '(passengers:10', 'crew:3)']
13 (passengers:10 crew:3)
['6', '(passengers:0', 'crew:6)']
6 (passengers:0 crew:6)
['92', '(passengers:84', 'crew:8)']
92 (passengers:84 crew:8)
['4', '(passengers:0', 'crew:4)']
4 (passengers:0 crew:4)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['6', '(passengers:4', 'crew:2)']
6 (passengers:4 crew:2)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['3', '(passengers:0', 'crew:3)']
3 (passengers:0 crew:3)
['122', '(passengers:108', 'crew:14)']
122 (passengers:108 crew:14)
['3', '(passengers:2', 'crew:1)']
3 (passengers:2 crew:1)
['16', '(passengers:14', 'crew:2)']
16 (passengers:14 crew:2)
['10', '(passengers:4', 'crew:6)']
10 (passengers:4 crew:6)
['11', '(passengers:10', 'crew:1)']
11 (passengers:10 crew:1)
['25', '(passengers:22', 'crew:3)']
25 (passengers:22 crew:3)
['12', '(passengers:10', 'crew:2)']
12 (passengers:10 crew:2)
['12', '(passengers:7', 'crew:5)']
12 (passengers:7 crew:5)
['7', '(passengers:6', 'crew:1)']
7 (passengers:6 crew:1)
['71', '(passengers:65', 'crew:6)']
71 (passengers:65 crew:6)
['66', '(passengers:60', 'crew:6)']
66 (passengers:60 crew:6)
['39', '(passengers:33', 'crew:6)']
39 (passengers:33 crew:6)
['6', '(passengers:5', 'crew:1)']
6 (passengers:5 crew:1)
['71', '(passengers:67', 'crew:4)']
71 (passengers:67 crew:4)
['5', '(passengers:3', 'crew:2)']
5 (passengers:3 crew:2)
['257', '(passengers:247', 'crew:10)']
257 (passengers:247 crew:10)
['149', '(passengers:144', 'crew:5)']
149 (passengers:144 crew:5)
['9', '(passengers:0', 'crew:9)']
9 (passengers:0 crew:9)
['113', '(passengers:107', 'crew:6)']
113 (passengers:107 crew:6)
['10', '(passengers:8', 'crew:2)']
10 (passengers:8 crew:2)
['19', '(passengers:16', 'crew:3)']
19 (passengers:16 crew:3)
['20', '(passengers:17', 'crew:3)']
20 (passengers:17 crew:3)
['47', '(passengers:35', 'crew:12)']
47 (passengers:35 crew:12)
['189', '(passengers:181', 'crew:8)']
189 (passengers:181 crew:8)
['128', '(passengers:120', 'crew:8)']
128 (passengers:120 crew:8)
['3', '(passengers:2', 'crew:1)']
3 (passengers:2 crew:1)
['16', '(passengers:13', 'crew:3)']
16 (passengers:13 crew:3)
['3', '(passengers:0', 'crew:3)']
3 (passengers:0 crew:3)
['13', '(passengers:11', 'crew:3)']
13 (passengers:11 crew:3)
['157', '(passengers:149', 'crew:8)']
157 (passengers:149 crew:8)

In [15]:
crash_df['Fatalities'] = crash_df.apply(lambda row: get_member_cnt(row['Fatalities']), axis=1)

['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['8', '(passengers:6', 'crew:2)']
8 (passengers:6 crew:2)
['0', '(passengers:0', 'crew:0)']
0 (passengers:0 crew:0)
['13', '(passengers:?', 'crew:?)']
13 (passengers:? crew:?)
['24', '(passengers:22', 'crew:2)']
24 (passengers:22 crew:2)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['49', '(passengers:44', 'crew:5)']
49 (passengers:44 crew:5)
['5', '(passengers:0', 'crew:5)']
5 (passengers:0 crew:5)
['13', '(passengers:12', 'crew:1)']
13 (passengers:12 crew:1)
['5', '(passengers:0', 'crew:5)']
5 (passengers:0 crew:5)
['9', '(passengers:6', 'crew:3)']
9 (passengers:6 crew:3)
['11', '(passengers:7', 'crew:4)']
11 (passengers:7 crew:4)
['17', '(passengers:15', 'crew:2)']
17 (passengers:15 crew:2)
['14', '(passengers:13', 'crew:1)']
14 (passengers:13 crew:1)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['16', '(passengers:14', 'crew:2)']
16 (passengers:14 crew:2)
['24', '(passengers:18', 'crew:6)']
24 (passengers:18 crew:6)
['6', '(passengers:0', 'crew:6)']
6 (passengers:0 crew:6)
['11', '(passengers:9', 'crew:2)']
11 (passengers:9 crew:2)
['1', '(passengers:1', 'crew:0)']
1 (passengers:1 crew:0)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['18', '(passengers:16', 'crew:2)']
18 (passengers:16 crew:2)
['98', '(passengers:?', 'crew:?)']
98 (passengers:? crew:?)
['4', '(passengers:0', 'crew:3)']
4 (passengers:0 crew:3)
['228', '(passengers:216', 'crew:12)']
228 (passengers:216 crew:12)
['1', '(passengers:0', 'crew:1)']
1 (passengers:0 crew:1)
['13', '(passengers:6', 'crew:7)']
13 (passengers:6 crew:7)
['3', '(passengers:0', 'crew:3)']
3 (passengers:0 crew:3)
['152', '(passengers:141', 'crew:11)']
152 (passengers:141 crew:11)
['26', '(passengers:24', 'crew:2)']
26 (passengers:24 crew:2)
['168', '(passengers:153', 'crew:15)']
168 (passengers:153 crew:15)
['16', '(passengers:?', 'crew:?)']
16 (passengers:? crew:?)
['16', '(passengers:3', 'crew:13)']
16 (passengers:3 crew:13)
['16', '(passengers:13', 'crew:3)']
16 (passengers:13 crew:3)
['1', '(passengers:0', 'crew:1)']
1 (passengers:0 crew:1)
['9', '(passengers:7', 'crew:2)']
9 (passengers:7 crew:2)
['13', '(passengers:11', 'crew:2)']
13 (passengers:11 crew:2)
['7', '(passengers:2', 'crew:5)']
7 (passengers:2 crew:5)
['10', '(passengers:?', 'crew:?)']
10 (passengers:? crew:?)
['1', '(passengers:0', 'crew:1)']
1 (passengers:0 crew:1)
['3', '(passengers:2', 'crew:1)']
3 (passengers:2 crew:1)
['4', '(passengers:0', 'crew:4)']
4 (passengers:0 crew:4)
['6', '(passengers:0', 'crew:6)']
6 (passengers:0 crew:6)
['1', '(passengers:0', 'crew:1)']
1 (passengers:0 crew:1)
['11', '(passengers:0', 'crew:11)']
11 (passengers:0 crew:11)
['11', '(passengers:0', 'crew:11)']
11 (passengers:0 crew:11)
['1', '(passengers:1', 'crew:0)']
1 (passengers:1 crew:0)
['3', '(passengers:0', 'crew:3)']
3 (passengers:0 crew:3)
['1', '(passengers:1', 'crew:0)']
1 (passengers:1 crew:0)
['3', '(passengers:0', 'crew:3)']
3 (passengers:0 crew:3)
['6', '(passengers:6', 'crew:0)']
6 (passengers:6 crew:0)
['6', '(passengers:6', 'crew:0)']
6 (passengers:6 crew:0)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['90', '(passengers:82', 'crew:8)']
90 (passengers:82 crew:8)
['2', '(passengers:1', 'crew:1)']
2 (passengers:1 crew:1)
['8', '(passengers:6', 'crew:2)']
8 (passengers:6 crew:2)
['11', '(passengers:9', 'crew:2)']
11 (passengers:9 crew:2)
['7', '(passengers:6', 'crew:1)']
7 (passengers:6 crew:1)
['96', '(passengers:88', 'crew:8)']
96 (passengers:88 crew:8)
['10', '(passengers:8', 'crew:2)']
10 (passengers:8 crew:2)
['5', '(passengers:0', 'crew:5)']
5 (passengers:0 crew:5)
['3', '(passengers:0', 'crew:3)']
3 (passengers:0 crew:3)
['103', '(passengers:92', 'crew:11)']
103 (passengers:92 crew:11)
['8', '(passengers:6', 'crew:2)']
8 (passengers:6 crew:2)
['44', '(passengers:38', 'crew:6)']
44 (passengers:38 crew:6)
['159', '(passengers:153', 'crew:6)']
159 (passengers:153 crew:6)
['4', '(passengers:3', 'crew:1)']
4 (passengers:3 crew:1)
['8', '(passengers:6', 'crew:2)']
8 (passengers:6 crew:2)
['11', '(passengers:9', 'crew:2)']
11 (passengers:9 crew:2)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['12', '(passengers:?', 'crew:3)']
12 (passengers:? crew:3)
['4', '(passengers:0', 'crew:4)']
4 (passengers:0 crew:4)
['152', '(passengers:146', 'crew:6)']
152 (passengers:146 crew:6)
['3', '(passengers:0', 'crew:3)']
3 (passengers:0 crew:3)
['12', '(passengers:11', 'crew:1)']
12 (passengers:11 crew:1)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['2', '(passengers:2', 'crew:0)']
2 (passengers:2 crew:0)
['4', '(passengers:3', 'crew:1)']
4 (passengers:3 crew:1)
['44', '(passengers:41', 'crew:3)']
44 (passengers:41 crew:3)
['14', '(passengers:11', 'crew:3)']
14 (passengers:11 crew:3)
['19', '(passengers:16', 'crew:3)']
19 (passengers:16 crew:3)
['10', '(passengers:?', 'crew:?)']
10 (passengers:? crew:?)
['4', '(passengers:3', 'crew:1)']
4 (passengers:3 crew:1)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['9', '(passengers:8', 'crew:1)']
9 (passengers:8 crew:1)
['17', '(passengers:14', 'crew:3)']
17 (passengers:14 crew:3)
['10', '(passengers:?', 'crew:?)']
10 (passengers:? crew:?)
['28', '(passengers:?', 'crew:?)']
28 (passengers:? crew:?)
['8', '(passengers:?', 'crew:?)']
8 (passengers:? crew:?)
['8', '(passengers:0', 'crew:8)']
8 (passengers:0 crew:8)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['5', '(passengers:?', 'crew:?)']
5 (passengers:? crew:?)
['68', '(passengers:61', 'crew:7)']
68 (passengers:61 crew:7)
['21', '(passengers:17', 'crew:4)']
21 (passengers:17 crew:4)
['7', '(passengers:?', 'crew:?)']
7 (passengers:? crew:?)
['8', '(passengers:0', 'crew:8)']
8 (passengers:0 crew:8)
['2', '(passengers:2', 'crew:0)']
2 (passengers:2 crew:0)
['22', '(passengers:19', 'crew:3)']
22 (passengers:19 crew:3)
['3', '(passengers:3', 'crew:0)']
3 (passengers:3 crew:0)
['77', '(passengers:65', 'crew:12)']
77 (passengers:65 crew:12)
['9', '(passengers:7', 'crew:2)']
9 (passengers:7 crew:2)
['6', '(passengers:4', 'crew:2)']
6 (passengers:4 crew:2)
['14', '(passengers:12', 'crew:2)']
14 (passengers:12 crew:2)
['6', '(passengers:5', 'crew:1)']
6 (passengers:5 crew:1)
['9', '(passengers:5', 'crew:4)']
9 (passengers:5 crew:4)
['32', '(passengers:28', 'crew:4)']
32 (passengers:28 crew:4)
['18', '(passengers:?', 'crew:?)']
18 (passengers:? crew:?)
['7', '(passengers:6', 'crew:1)']
7 (passengers:6 crew:1)
['27', '(passengers:21', 'crew:6)']
27 (passengers:21 crew:6)
['22', '(passengers:19', 'crew:3)']
22 (passengers:19 crew:3)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['47', '(passengers:39', 'crew:8)']
47 (passengers:39 crew:8)
['9', '(passengers:0', 'crew:9)']
9 (passengers:0 crew:9)
['77', '(passengers:72', 'crew:5)']
77 (passengers:72 crew:5)
['7', '(passengers:7', 'crew:0)']
7 (passengers:7 crew:0)
['16', '(passengers:14', 'crew:2)']
16 (passengers:14 crew:2)
['80', '(passengers:71', 'crew:9)']
80 (passengers:71 crew:9)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['8', '(passengers:6', 'crew:2)']
8 (passengers:6 crew:2)
['38', '(passengers:?', 'crew:?)']
38 (passengers:? crew:?)
['11', '(passengers:2', 'crew:9)']
11 (passengers:2 crew:9)
['2', '(passengers:1', 'crew:1)']
2 (passengers:1 crew:1)
['12', '(passengers:8', 'crew:4)']
12 (passengers:8 crew:4)
['4', '(passengers:3', 'crew:1)']
4 (passengers:3 crew:1)
['21', '(passengers:17', 'crew:4)']
21 (passengers:17 crew:4)
['8', '(passengers:6', 'crew:2)']
8 (passengers:6 crew:2)
['44', '(passengers:37', 'crew:7)']
44 (passengers:37 crew:7)
['30', '(passengers:30', 'crew:0)']
30 (passengers:30 crew:0)
['1', '(passengers:0', 'crew:1)']
1 (passengers:0 crew:1)
['3', '(passengers:1', 'crew:2)']
3 (passengers:1 crew:2)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['19', '(passengers:16', 'crew:3)']
19 (passengers:16 crew:3)
['18', '(passengers:14', 'crew:4)']
18 (passengers:14 crew:4)
['2', '(passengers:1', 'crew:1)']
2 (passengers:1 crew:1)
['28', '(passengers:26', 'crew:2)']
28 (passengers:26 crew:2)
['8', '(passengers:7', 'crew:1)']
8 (passengers:7 crew:1)
['1', '(passengers:0', 'crew:1)']
1 (passengers:0 crew:1)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['8', '(passengers:7', 'crew:1)']
8 (passengers:7 crew:1)
['1', '(passengers:0', 'crew:1)']
1 (passengers:0 crew:1)
['3', '(passengers:?', 'crew:?)']
3 (passengers:? crew:?)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['4', '(passengers:3', 'crew:1)']
4 (passengers:3 crew:1)
['3', '(passengers:2', 'crew:1)']
3 (passengers:2 crew:1)
['4', '(passengers:3', 'crew:1)']
4 (passengers:3 crew:1)
['3', '(passengers:1', 'crew:2)']
3 (passengers:1 crew:2)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['12', '(passengers:?', 'crew:?)']
12 (passengers:? crew:?)
['33', '(passengers:29', 'crew:4)']
33 (passengers:29 crew:4)
['127', '(passengers:121', 'crew:6)']
127 (passengers:121 crew:6)
['13', '(passengers:11', 'crew:2)']
13 (passengers:11 crew:2)
['45', '(passengers:39', 'crew:6)']
45 (passengers:39 crew:6)
['15', '(passengers:13', 'crew:2)']
15 (passengers:13 crew:2)
['0', '(passengers:0', 'crew:4)']
0 (passengers:0 crew:4)
['153', '(passengers:146', 'crew:7)']
153 (passengers:146 crew:7)
['14', '(passengers:12', 'crew:2)']
14 (passengers:12 crew:2)
['13', '(passengers:12', 'crew:1)']
13 (passengers:12 crew:1)
['7', '(passengers:0', 'crew:7)']
7 (passengers:0 crew:7)
['3', '(passengers:2', 'crew:1)']
3 (passengers:2 crew:1)
['32', '(passengers:26', 'crew:6)']
32 (passengers:26 crew:6)
['10', '(passengers:8', 'crew:2)']
10 (passengers:8 crew:2)
['19', '(passengers:16', 'crew:3)']
19 (passengers:16 crew:3)
['15', '(passengers:?', 'crew:?)']
15 (passengers:? crew:?)
['3', '(passengers:2', 'crew:1)']
3 (passengers:2 crew:1)
['1', '(passengers:0', 'crew:1)']
1 (passengers:0 crew:1)
['10', '(passengers:0', 'crew:10)']
10 (passengers:0 crew:10)
['7', '(passengers:0', 'crew:7)']
7 (passengers:0 crew:7)
['11', '(passengers:5', 'crew:6)']
11 (passengers:5 crew:6)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['3', '(passengers:0', 'crew:3)']
3 (passengers:0 crew:3)
['27', '(passengers:20', 'crew:7)']
27 (passengers:20 crew:7)
['2', '(passengers:2', 'crew:0)']
2 (passengers:2 crew:0)
['5', '(passengers:0', 'crew:5)']
5 (passengers:0 crew:5)
['3', '(passengers:2', 'crew:1)']
3 (passengers:2 crew:1)
['6', '(passengers:5', 'crew:1)']
6 (passengers:5 crew:1)
['21', '(passengers:16', 'crew:5)']
21 (passengers:16 crew:5)
['5', '(passengers:5', 'crew:0)']
5 (passengers:5 crew:0)
['7', '(passengers:1', 'crew:6)']
7 (passengers:1 crew:6)
['9', '(passengers:7', 'crew:2)']
9 (passengers:7 crew:2)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['10', '(passengers:9', 'crew:1)']
10 (passengers:9 crew:1)
['0', '(passengers:0', 'crew:0)']
0 (passengers:0 crew:0)
['7', '(passengers:0', 'crew:7)']
7 (passengers:0 crew:7)
['4', '(passengers:2', 'crew:2)']
4 (passengers:2 crew:2)
['20', '(passengers:15', 'crew:5)']
20 (passengers:15 crew:5)
['3', '(passengers:3', 'crew:0)']
3 (passengers:3 crew:0)
['10', '(passengers:9', 'crew:1)']
10 (passengers:9 crew:1)
['4', '(passengers:0', 'crew:4)']
4 (passengers:0 crew:4)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['16', '(passengers:?', 'crew:?)']
16 (passengers:? crew:?)
['2', '(passengers:1', 'crew:1)']
2 (passengers:1 crew:1)
['14', '(passengers:13', 'crew:1)']
14 (passengers:13 crew:1)
['49', '(passengers:44', 'crew:5)']
49 (passengers:44 crew:5)
['11', '(passengers:10', 'crew:1)']
11 (passengers:10 crew:1)
['8', '(passengers:8', 'crew:0)']
8 (passengers:8 crew:0)
['13', '(passengers:7', 'crew:6)']
13 (passengers:7 crew:6)
['5', '(passengers:3', 'crew:2)']
5 (passengers:3 crew:2)
['50', '(passengers:44', 'crew:6)']
50 (passengers:44 crew:6)
['2', '(passengers:2', 'crew:2)']
2 (passengers:2 crew:2)
['3', '(passengers:3', 'crew:0)']
3 (passengers:3 crew:0)
['33', '(passengers:27', 'crew:6)']
33 (passengers:27 crew:6)
['3', '(passengers:2', 'crew:1)']
3 (passengers:2 crew:1)
['4', '(passengers:3', 'crew:1)']
4 (passengers:3 crew:1)
['5', '(passengers:3', 'crew:2)']
5 (passengers:3 crew:2)
['1', '(passengers:1', 'crew:0)']
1 (passengers:1 crew:0)
['9', '(passengers:3', 'crew:6)']
9 (passengers:3 crew:6)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['2', '(passengers:1', 'crew:1)']
2 (passengers:1 crew:1)
['77', '(passengers:?', 'crew:?)']
77 (passengers:? crew:?)
['18', '(passengers:15', 'crew:3)']
18 (passengers:15 crew:3)
['11', '(passengers:6', 'crew:5)']
11 (passengers:6 crew:5)
['3', '(passengers:2', 'crew:1)']
3 (passengers:2 crew:1)
['239', '(passengers:227', 'crew:12)']
239 (passengers:227 crew:12)
['2', '(passengers:1', 'crew:1)']
2 (passengers:1 crew:1)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['8', '(passengers:6', 'crew:2)']
8 (passengers:6 crew:2)
['8', '(passengers:7', 'crew:1)']
8 (passengers:7 crew:1)
['6', '(passengers:0', 'crew:6)']
6 (passengers:0 crew:6)
['16', '(passengers:10', 'crew:6)']
16 (passengers:10 crew:6)
['49', '(passengers:40', 'crew:9)']
49 (passengers:40 crew:9)
['4', '(passengers:0', 'crew:4)']
4 (passengers:0 crew:4)
['18', '(passengers:?', 'crew:?)']
18 (passengers:? crew:?)
['298', '(passengers:283', 'crew:15)']
298 (passengers:283 crew:15)
['48', '(passengers:44', 'crew:4)']
48 (passengers:44 crew:4)
['116', '(passengers:110', 'crew:6)']
116 (passengers:110 crew:6)
['39', '(passengers:31', 'crew:8)']
39 (passengers:31 crew:8)
['2', '(passengers:1', 'crew:1)']
2 (passengers:1 crew:1)
['4', '(passengers:3', 'crew:1)']
4 (passengers:3 crew:1)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['3', '(passengers:1', 'crew:2)']
3 (passengers:1 crew:2)
['10', '(passengers:8', 'crew:2)']
10 (passengers:8 crew:2)
['4', '(passengers:2', 'crew:2)']
4 (passengers:2 crew:2)
['2', '(passengers:1', 'crew:1)']
2 (passengers:1 crew:1)
['1', '(passengers:1', 'crew:0)']
1 (passengers:1 crew:0)
['10', '(passengers:8', 'crew:2)']
10 (passengers:8 crew:2)
['7', '(passengers:6', 'crew:1)']
7 (passengers:6 crew:1)
['6', '(passengers:0', 'crew:6)']
6 (passengers:0 crew:6)
['162', '(passengers:155', 'crew:7)']
162 (passengers:155 crew:7)
['37', '(passengers:35', 'crew:2)']
37 (passengers:35 crew:2)
['43', '(passengers:39', 'crew:4)']
43 (passengers:39 crew:4)
['10', '(passengers:8', 'crew:2)']
10 (passengers:8 crew:2)
['150', '(passengers:144', 'crew:6)']
150 (passengers:144 crew:6)
['7', '(passengers:6', 'crew:1)']
7 (passengers:6 crew:1)
['9', '(passengers:8', 'crew:1)']
9 (passengers:8 crew:1)
['122', '(passengers:110', 'crew:12)']
122 (passengers:110 crew:12)
['1', '(passengers:0', 'crew:1)']
1 (passengers:0 crew:1)
['11', '(passengers:0', 'crew:11)']
11 (passengers:0 crew:11)
['1', '(passengers:0', 'crew:1)']
1 (passengers:0 crew:1)
['54', '(passengers:49', 'crew:5)']
54 (passengers:49 crew:5)
['7', '(passengers:2', 'crew:5)']
7 (passengers:2 crew:5)
['3', '(passengers:3', 'crew:0)']
3 (passengers:3 crew:0)
['11', '(passengers:5', 'crew:6)']
11 (passengers:5 crew:6)
['10', '(passengers:7', 'crew:3)']
10 (passengers:7 crew:3)
['4', '(passengers:0', 'crew:4)']
4 (passengers:0 crew:4)
['224', '(passengers:217', 'crew:7)']
224 (passengers:217 crew:7)
['41', '(passengers:37', 'crew:4)']
41 (passengers:37 crew:4)
['7', '(passengers:6', 'crew:1)']
7 (passengers:6 crew:1)
['15', '(passengers:13', 'crew:2)']
15 (passengers:13 crew:2)
['10', '(passengers:9', 'crew:1)']
10 (passengers:9 crew:1)
['0', '(passengers:0', 'crew:0)']
0 (passengers:0 crew:0)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['1', '(passengers:1', 'crew:?)']
1 (passengers:1 crew:?)
['23', '(passengers:20', 'crew:3)']
23 (passengers:20 crew:3)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['3', '(passengers:0', 'crew:3)']
3 (passengers:0 crew:3)
['22', '(passengers:19', 'crew:3)']
22 (passengers:19 crew:3)
['62', '(passengers:55', 'crew:7)']
62 (passengers:55 crew:7)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['12', '(passengers:11', 'crew:1)']
12 (passengers:11 crew:1)
['13', '(passengers:11', 'crew:2)']
13 (passengers:11 crew:2)
['66', '(passengers:56', 'crew:10)']
66 (passengers:56 crew:10)
['29', '(passengers:23', 'crew:6)']
29 (passengers:23 crew:6)
['16', '(passengers:15', 'crew:1)']
16 (passengers:15 crew:1)
['0', '(passengers:0', 'crew:0)']
0 (passengers:0 crew:0)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['5', '(passengers:3', 'crew:2)']
5 (passengers:3 crew:2)
['4', '(passengers:1', 'crew:3)']
4 (passengers:1 crew:3)
['71', '(passengers:64', 'crew:7)']
71 (passengers:64 crew:7)
['13', '(passengers:8', 'crew:5)']
13 (passengers:8 crew:5)
['48', '(passengers:42', 'crew:6)']
48 (passengers:42 crew:6)
['13', '(passengers:10', 'crew:3)']
13 (passengers:10 crew:3)
['5', '(passengers:0', 'crew:5)']
5 (passengers:0 crew:5)
['92', '(passengers:84', 'crew:8)']
92 (passengers:84 crew:8)
['4', '(passengers:0', 'crew:4)']
4 (passengers:0 crew:4)
['5', '(passengers:4', 'crew:1)']
5 (passengers:4 crew:1)
['7', '(passengers:5', 'crew:2)']
7 (passengers:5 crew:2)
['6', '(passengers:4', 'crew:2)']
6 (passengers:4 crew:2)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['2', '(passengers:0', 'crew:2)']
2 (passengers:0 crew:2)
['122', '(passengers:108', 'crew:14)']
122 (passengers:108 crew:14)
['3', '(passengers:2', 'crew:1)']
3 (passengers:2 crew:1)
['16', '(passengers:14', 'crew:2)']
16 (passengers:14 crew:2)
['4', '(passengers:4', 'crew:0)']
4 (passengers:4 crew:0)
['11', '(passengers:10', 'crew:1)']
11 (passengers:10 crew:1)
['1', '(passengers:1', 'crew:0)']
1 (passengers:1 crew:0)
['12', '(passengers:10', 'crew:2)']
12 (passengers:10 crew:2)
['12', '(passengers:7', 'crew:5)']
12 (passengers:7 crew:5)
['3', '(passengers:3', 'crew:0)']
3 (passengers:3 crew:0)
['71', '(passengers:65', 'crew:6)']
71 (passengers:65 crew:6)
['66', '(passengers:60', 'crew:6)']
66 (passengers:60 crew:6)
['39', '(passengers:33', 'crew:6)']
39 (passengers:33 crew:6)
['5', '(passengers:5', 'crew:0)']
5 (passengers:5 crew:0)
['51', '(passengers:47', 'crew:4)']
51 (passengers:47 crew:4)
['5', '(passengers:3', 'crew:2)']
5 (passengers:3 crew:2)
['257', '(passengers:247', 'crew:10)']
257 (passengers:247 crew:10)
['1', '(passengers:1', 'crew:0)']
1 (passengers:1 crew:0)
['9', '(passengers:0', 'crew:9)']
9 (passengers:0 crew:9)
['112', '(passengers:106', 'crew:6)']
112 (passengers:106 crew:6)
['10', '(passengers:8', 'crew:2)']
10 (passengers:8 crew:2)
['1', '(passengers:0', 'crew:1)']
1 (passengers:0 crew:1)
['20', '(passengers:17', 'crew:3)']
20 (passengers:17 crew:3)
['1', '(passengers:1', 'crew:0)']
1 (passengers:1 crew:0)
['189', '(passengers:181', 'crew:8)']
189 (passengers:181 crew:8)
['1', '(passengers:1', 'crew:0)']
1 (passengers:1 crew:0)
['3', '(passengers:2', 'crew:1)']
3 (passengers:2 crew:1)
['15', '(passengers:13', 'crew:2)']
15 (passengers:13 crew:2)
['3', '(passengers:0', 'crew:3)']
3 (passengers:0 crew:3)
['13', '(passengers:11', 'crew:3)']
13 (passengers:11 crew:3)
['157', '(passengers:149', 'crew:8)']
157 (passengers:149 crew:8)

In [16]:
crash_df_final=crash_df[["Date","Location","Operator","Aboard","Fatalities","Ground","Type","Summary"]].copy()

In [17]:
crash_df_final["Aboard"]= pd.to_numeric(crash_df_final['Aboard'],errors='coerce')
crash_df_final["Fatalities"]= pd.to_numeric(crash_df_final['Fatalities'],errors='coerce')

In [18]:
crash_df_final

,Date,Location,Operator,Aboard,Fatalities,Ground,Type,Summary
0,2009-01-01,"Lubock, Texas",Empire Airlines leased from FedEx,2,2,0,ATR-42-320,Crashed while attempting to land. The probable...
1,2009-01-04,Near Houma Louisiana,Petroleum Helicopters Inc,9,8,0,Sikorsky S-76C++,A helicopter bound for offshore oil fields wen...
2,2009-01-15,"New York, New York",US Airways,155,0,0,Airbus A320-214,The plane was taking off from La Guardia Airpo...
3,2009-01-15,"Adraskan district, Afghanistan",Afghan Army,13,13,0,Mil Mi-17,Either shot down or crashed due to bad weather.
4,2009-02-07,"Manacapuru, Brazil",Aerotaxi Manaus,28,24,0,Bandeirante EMB-110P1,The plane was being used as an air taxi to fer...
5,2009-02-07,"Trigoria, Italy",Air One Executive,2,2,0,Cessna 650 Citation III,"The plane, heading to Bologna to pick up a med..."
6,2009-02-12,"Clarence Center, New York",Continental Connection/Colgan Air,49,49,1,Bombardier DHC-8-402 Q400,The commuter plane crashed while attemptiong t...
7,2009-02-15,"Near Isfahan/Shahin Shahr-Hesa Air Base, Iran",HESA,5,5,0,HESA IrAn-140-100,The aircraft crashed druing a training flight.
8,2009-02-15,"Chanco, Chile",Flight Service,13,13,0,Bell UH-1H,The helicopter was carrying firemen to a nearb...
9,2009-02-20,"Luxor, Egypt",Aerolift,5,5,0,Antonov 12V,"While attemping to take off from Luxor, the ca..."
10,2009-02-25,"Amsterdam, Netherlands",Turkish Airlines,134,9,0,Boeing 737-8F2,The plane was on final approach to Runway 18R ...
11,2009-03-09,"Lake Victoria, Uganda",Aerolift,11,11,0,Ilyushin Il-76T,The cargo plane carrying and water purificatio...
12,2009-03-12,"Off St. Johns, Newfoundland",Cougar Helicopters,18,17,0,Sikorsky S-92A,The pilot reported a technical malfunction and...
13,2009-03-22,"Butte, Montana",Eagle Cap Leasing,14,14,0,Pilatus PC-12/45,The plane crashed 500 feet short of the runway...
14,2009-03-23,"Tokyo, Japan",FedEx,2,2,0,McDonnell Douglas MD-11,The cargo plane crashed and burst into flame a...
15,2009-04-01,"Off Crimond, Scotland",Bond Offshore Helicopters,16,16,0,Eurocopter AS 332L2 Super Puma 2,The helicopter crashed 35 miles East of Crimon...
16,2009-04-06,"Bandung, Indonesia",Military - Indonesian Air Force,24,24,0,Fokker F-27 Friendship 400M,While returning from a military training exerc...
17,2009-04-09,"Near Wamena, Indonesia",Aviastar Mandiri,6,6,0,British Aerospace BAe-146-300,The cargo plane crashed into Gunung Pike mount...
18,2009-04-17,"Mount Gergaji, Indonesia",Mimika Air,11,11,0,Pilatus PC-6,The passenger plane crashed in poor weather in...
19,2009-04-17,"Canaima National Park, Venezuela",Aerotuy Airline,11,1,0,Cessna 208B Grand Caravan,"The plane, carrying 9 tourists, crashed 5 mile..."
20,2009-04-29,"Massamba, Democratic Republic of Congo",Bako Air,7,7,0,Boeing B-737-200,Crashed while en route on a ferrying flight. T...
21,2009-05-03,"Near El Alto de Rubio, Venezuela",Military - Venezuelan Army,18,18,0,Mi-35,The helicopter was patrolling along the Venezu...
22,2009-05-20,"Near Madiun, Indonesia",Military - Indonesian Air Force,112,98,2,Lockheed C-130 Hercules,"While on approach, the military transport cras..."
23,2009-05-26,"Near Isiro, Democratic Republic Congo",Service Air,4,4,?,Antonov An-26,The cargo plane crashed while on approach to I...
24,2009-06-01,"Atlantic Ocean, 570 miles northeast of Natal, ...",Air France,228,228,0,Airbus A330-203,The Airbus went missing over the Atlantic Ocea...
25,2009-06-07,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,1,1,0,Britten-Norman BN-2A-27 Islander,The air ambulance crashed into hills while att...
26,2009-06-08,"State of Arunachal Pradesh, India",Military - Indian Air Force,13,13,0,Antonov An-32,The military transport went missing while en r...
27,2009-06-29,"Near Wamena, Indonesia",Aviastar Mandiri,3,3,0,de Havilland Canada DHC-6 Twin Otter 300,"While en route and nearing it's destination, t..."
28,2009-06-30,"Off Mitsamiouli, Comoros",Yemenia Airway,153,152,0,Airbus A310-324,"The plane crashed into the Indian Ocean, 10 mi..."
29,2009-07-03,"Near, Peshawar , Pakistan",Military - Pakistan Army,26,26,0,Mil Mi-17,The military helicopter crashed en route while...
...,...,...,...,...,...,...,...,...
294,2017-06-07,"Off Dawei, Myanmar",Myanmar Air Force,122,122,0,Shaanxi Y-8F-200W,The transport plane carrying military personne...
295,2017-06-28,"Mount Gambier, South Australia",Angel Flight,3,3,0,Socata TB1-10 Tobago,The medical flight crashed 3 km south of Mount...
296,2017-07-10,"Near Itta Bena, Mississipi",USMC,16,16,0,Lockheed KC-130T Hercules,"While en route, the Marine Corps transport suf..."
297,2017-10-14,"Abidjan, Ivory Coast",Valan International Cargo Charter,10,4,0,Antonov AN-26-100,"The cargo plane, carrying French military carg..."
298,2017-11-15,"Empakaai, Tanzania",Costal Aviation,11,11,0,Cessna 208B Grand Caravan,The chartered Cessna was flying tourists from ...
299,2017-12-13,"Near Fond-du-Lac, Saskatchewan",West Wind Aviation,25,1,0,ATR42-320,"Shortly after taking off, the aircraft lost al..."
300,2017-12-31,"Punta Islita, Costa Rica",Naure Air,12,12,0,Cessna 208B Grand Caravan,The passenger plane crashed 10 minutes after t...
301,2018-01-29,"Zhengchang, Suiyang County, Guizhou Province",People's Liberation Army Air Force,12,12,0,Shaanxi Y-8GX-3,Unknown
302,2018-02-10,"Grand Canyon, Arizona",Papillon,7,3,0,Eurocopter EC 130B4,The helicopter was observed making strange man...
303,2018-02-11,"Argunovo, Russia",Saratov Airlines,71,71,0,Antonov AN-148-100,The regional airliner took off from Moscow at ...
304,2018-02-18,"Kohangan village, Iran",Iran Aseman Airlines,66,66,0,Iran Aseman Airlines,The airliner was on approach to Yasuj Airport ...
305,2018-03-06,"Latakia, Syria",Military - Russian Air Force,39,39,0,Antonov An-26,While on approach to Latakia-Khmeimim Air Base...
306,2018-03-11,"New York, New York",Liberty Helicopters,6,5,0,Eurocopter AS 350B2,The sightseeing helicopter suddenly lost power...
307,2018-03-12,"Kathmandu, Nepal",US-Bangla Airlines,71,51,0,de Havilland Canada DHC-8-402Q Dash 8,"After getting clearance to land, the aircraft ..."
308,2018-03-17,"Plaridel, Philippines",Lite Air Express,5,5,5,Piper PA-32RT-300T,The small passenger plane crashed shortly afte...
309,2018-04-11,"Boufarik AB, Algeria",Military - Algerian Air Force,257,257,0,Ilyushin 76-TD,The Algerian military plane crashed soon after...
310,2018-04-17,"NW of Philadelphia, Pennsylvania",Southwest Airlines,149,1,0,Boeing 737-7H4,"While climbing to FL320, the No. 1 engine suff..."
311,2018-05-02,"Port Wentworth, Georgia",Military - US Air Force,9,9,0,Lockheed HC-130H Hercules,A Porto Rico Air National Guard plane crashed ...
312,2018-05-18,"Havana, Cuba",Cubana (leased from Global Air),113,112,0,Boeing 737-201,After taking off from runway 06 at Havana-José...
313,2018-06-05,"Near Njabini, Kenya",Fly SAX,10,10,0,Cessna 208B Grand Caravan,Ground lost contact with the aircraft when it ...
314,2018-07-10,"Pretoria, South Africa",Rovos Air,19,1,1,Convair CV-340,"Shortly after takeoff from runway 29, the left..."
315,2018-08-04,"Flims, Switzerland",Ju Air,20,20,1,Junkers JU-52,The vintage aircraft crashed onto Piz Segnas m...
316,2018-09-28,"Chuuk, Micronesia",Air Niugini,47,1,0,Boeing 737-8BK,The aircraft was approaching for a landing at ...
317,2018-10-29,"Off Jakarta, Indonesia",Lion Air,189,189,0,Boeing 737-MAX 8,"The airliner crashed into the Jakarta Sea, 13 ..."
318,2018-11-06,"Georgetown, Guyana",Fly Jamaica Airways,128,1,0,Boeing 757-N23,"After taking off and reaching FL200, the crew ..."
319,2018-11-18,"Near Mandan, North Dakota",Metro Area Ambulance Services,3,3,0,Cessna 441 Conquest II,The air ambulance en route to pick up a patien...
320,2019-01-14,"Karaj, Iran",Saha Air,16,15,0,Boeing 707-3J9C,The cargo plane was operated by the Iranian Ai...
321,2019-02-23,"Houston, Texas",Atlas Air serving Amazon,3,3,0,Boeing 767-375ER,ATC lost radar contact with the cargo jet when...
322,2019-03-09,"Vereda La Bendicion, Colombia",Laser Aereo Colombia,13,13,0,Douglas DC-3,"While on approach to land, the crew contacted ..."
323,2019-03-10,"Bishoftu, Ethiopia",Ethiopian Airlines,157,157,0,Boeing 737 Max 8,The internationally scheduled airliner crashed...

In [19]:
historical_df_final= historical_df.append(crash_df_final,ignore_index=True)

In [20]:
historical_df_final

,Date,Location,Operator,Aboard,Fatalities,Ground,Type,Summary
0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,2.0,1.0,0,Wright Flyer III,"During a demonstration flight, a U.S. Army fly..."
1,1912-07-12,"AtlantiCity, New Jersey",Military - U.S. Navy,5.0,5.0,0,Dirigible,First U.S. dirigible Akron exploded just offsh...
2,1913-08-06,"Victoria, British Columbia, Canada",Private,1.0,1.0,0,Curtiss seaplane,The first fatal airplane accident in Canada oc...
3,1913-09-09,Over the North Sea,Military - German Navy,20.0,14.0,0,Zeppelin L-1 (airship),The airship flew into a thunderstorm and encou...
4,1913-10-17,"Near Johannisthal, Germany",Military - German Navy,30.0,30.0,0,Zeppelin L-2 (airship),Hydrogen gas which was being vented was sucked...
5,1915-03-05,"Tienen, Belgium",Military - German Navy,41.0,21.0,0,Zeppelin L-8 (airship),Crashed into trees while attempting to land af...
6,1915-09-03,"Off Cuxhaven, Germany",Military - German Navy,19.0,19.0,0,Zeppelin L-10 (airship),"Exploded and burned near Neuwerk Island, when..."
7,1916-07-28,"Near Jambol, Bulgeria",Military - German Army,20.0,20.0,0,Schutte-Lanz S-L-10 (airship),"Crashed near the Black Sea, cause unknown."
8,1916-09-24,"Billericay, England",Military - German Navy,22.0,22.0,0,Zeppelin L-32 (airship),Shot down by British aircraft crashing in flames.
9,1916-10-01,"Potters Bar, England",Military - German Navy,19.0,19.0,0,Zeppelin L-31 (airship),Shot down in flames by the British 39th Home D...
10,1916-11-21,"Mainz, Germany",Military - German Army,28.0,27.0,0,Super Zeppelin (airship),Crashed in a storm.
11,1916-11-28,"Off West Hartlepool, England",Military - German Navy,20.0,20.0,0,Zeppelin L-34 (airship),Shot down by British anti-aircraft fire and ai...
12,1917-03-04,"Near Gent, Belgium",Military - German Army,20.0,20.0,0,Airship,Caught fire and crashed.
13,1917-03-30,Off Northern Germany,Military - German Navy,23.0,23.0,0,Schutte-Lanz S-L-9 (airship),Struck by lightning and crashed into the Balti...
14,1917-05-14,"Near Texel Island, North Sea",Military - German Navy,21.0,21.0,0,Zeppelin L-22 (airship),"Crashed into the sea from an altitude of 3,000..."
15,1917-06-14,"Off Vlieland Island, North Sea",Military - German Navy,24.0,24.0,0,Zeppelin L-43 (airship),Shot down by British aircraft.
16,1917-08-21,Off western Denmark,Military - German Navy,18.0,18.0,0,Zeppelin L-23 (airship),Shot down by British aircraft.
17,1917-10-20,"Near Luneville, France",Military - German Navy,18.0,18.0,0,Zeppelin L-44 (airship),Shot down by French anti-aircraft fire.
18,1918-04-07,Over the Mediterranean,Military - German Navy,23.0,23.0,0,Zeppelin L-59 (airship),Exploded and crashed into the sea off the sout...
19,1918-05-10,"Off Helgoland Island, Germany",Military - German Navy,22.0,22.0,0,Zeppelin L-70 (airship),Shot down by British aircraft crashing from a ...
20,1918-08-11,"Ameland Island, North Sea",Military - German Navy,19.0,19.0,0,Zeppelin L-53 (airship),Shot down by british aircraft.
21,1918-12-16,"Elizabeth, New Jersey",US Aerial Mail Service,1.0,1.0,0,De Havilland DH-4,NaN
22,1919-05-25,"Cleveland, Ohio",US Aerial Mail Service,1.0,1.0,0,De Havilland DH-4,Caught fire in midair. The pilot leaped from t...
23,1919-07-19,"Dix Run, Pennsylvania",US Aerial Mail Service,1.0,1.0,0,De Havilland DH-4,NaN
24,1919-10-02,"Newcastle, England",Aircraft Transport and Travel,1.0,1.0,0,De Havilland DH-4,NaN
25,1919-10-14,"Cantonsville, Maryland",US Aerial Mail Service,1.0,1.0,0,Curtiss R-4LM,NaN
26,1919-10-20,English Channel,Aircraft Transport and Travel,NaN,NaN,NaN,De Havilland DH-4,NaN
27,1919-10-30,"Long Valley, New Jersey",US Aerial Mail Service,1.0,1.0,0,De Havilland DH.4,NaN
28,1920-03-10,"New Paris, Indiana",US Aerial Mail Service,1.0,1.0,0,De Havilland DH-4,NaN
29,1920-03-30,"Newark, New Jersey",US Aerial Mail Service,1.0,1.0,0,De Havilland DH-4,NaN
...,...,...,...,...,...,...,...,...
5562,2017-06-07,"Off Dawei, Myanmar",Myanmar Air Force,122.0,122.0,0,Shaanxi Y-8F-200W,The transport plane carrying military personne...
5563,2017-06-28,"Mount Gambier, South Australia",Angel Flight,3.0,3.0,0,Socata TB1-10 Tobago,The medical flight crashed 3 km south of Mount...
5564,2017-07-10,"Near Itta Bena, Mississipi",USMC,16.0,16.0,0,Lockheed KC-130T Hercules,"While en route, the Marine Corps transport suf..."
5565,2017-10-14,"Abidjan, Ivory Coast",Valan International Cargo Charter,10.0,4.0,0,Antonov AN-26-100,"The cargo plane, carrying French military carg..."
5566,2017-11-15,"Empakaai, Tanzania",Costal Aviation,11.0,11.0,0,Cessna 208B Grand Caravan,The chartered Cessna was flying tourists from ...
5567,2017-12-13,"Near Fond-du-Lac, Saskatchewan",West Wind Aviation,25.0,1.0,0,ATR42-320,"Shortly after taking off, the aircraft lost al..."
5568,2017-12-31,"Punta Islita, Costa Rica",Naure Air,12.0,12.0,0,Cessna 208B Grand Caravan,The passenger plane crashed 10 minutes after t...
5569,2018-01-29,"Zhengchang, Suiyang County, Guizhou Province",People's Liberation Army Air Force,12.0,12.0,0,Shaanxi Y-8GX-3,Unknown
5570,2018-02-10,"Grand Canyon, Arizona",Papillon,7.0,3.0,0,Eurocopter EC 130B4,The helicopter was observed making strange man...
5571,2018-02-11,"Argunovo, Russia",Saratov Airlines,71.0,71.0,0,Antonov AN-148-100,The regional airliner took off from Moscow at ...
5572,2018-02-18,"Kohangan village, Iran",Iran Aseman Airlines,66.0,66.0,0,Iran Aseman Airlines,The airliner was on approach to Yasuj Airport ...
5573,2018-03-06,"Latakia, Syria",Military - Russian Air Force,39.0,39.0,0,Antonov An-26,While on approach to Latakia-Khmeimim Air Base...
5574,2018-03-11,"New York, New York",Liberty Helicopters,6.0,5.0,0,Eurocopter AS 350B2,The sightseeing helicopter suddenly lost power...
5575,2018-03-12,"Kathmandu, Nepal",US-Bangla Airlines,71.0,51.0,0,de Havilland Canada DHC-8-402Q Dash 8,"After getting clearance to land, the aircraft ..."
5576,2018-03-17,"Plaridel, Philippines",Lite Air Express,5.0,5.0,5,Piper PA-32RT-300T,The small passenger plane crashed shortly afte...
5577,2018-04-11,"Boufarik AB, Algeria",Military - Algerian Air Force,257.0,257.0,0,Ilyushin 76-TD,The Algerian military plane crashed soon after...
5578,2018-04-17,"NW of Philadelphia, Pennsylvania",Southwest Airlines,149.0,1.0,0,Boeing 737-7H4,"While climbing to FL320, the No. 1 engine suff..."
5579,2018-05-02,"Port Wentworth, Georgia",Military - US Air Force,9.0,9.0,0,Lockheed HC-130H Hercules,A Porto Rico Air National Guard plane crashed ...
5580,2018-05-18,"Havana, Cuba",Cubana (leased from Global Air),113.0,112.0,0,Boeing 737-201,After taking off from runway 06 at Havana-José...
5581,2018-06-05,"Near Njabini, Kenya",Fly SAX,10.0,10.0,0,Cessna 208B Grand Caravan,Ground lost contact with the aircraft when it ...
5582,2018-07-10,"Pretoria, South Africa",Rovos Air,19.0,1.0,1,Convair CV-340,"Shortly after takeoff from runway 29, the left..."
5583,2018-08-04,"Flims, Switzerland",Ju Air,20.0,20.0,1,Junkers JU-52,The vintage aircraft crashed onto Piz Segnas m...
5584,2018-09-28,"Chuuk, Micronesia",Air Niugini,47.0,1.0,0,Boeing 737-8BK,The aircraft was approaching for a landing at ...
5585,2018-10-29,"Off Jakarta, Indonesia",Lion Air,189.0,189.0,0,Boeing 737-MAX 8,"The airliner crashed into the Jakarta Sea, 13 ..."
5586,2018-11-06,"Georgetown, Guyana",Fly Jamaica Airways,128.0,1.0,0,Boeing 757-N23,"After taking off and reaching FL200, the crew ..."
5587,2018-11-18,"Near Mandan, North Dakota",Metro Area Ambulance Services,3.0,3.0,0,Cessna 441 Conquest II,The air ambulance en route to pick up a patien...
5588,2019-01-14,"Karaj, Iran",Saha Air,16.0,15.0,0,Boeing 707-3J9C,The cargo plane was operated by the Iranian Ai...
5589,2019-02-23,"Houston, Texas",Atlas Air serving Amazon,3.0,3.0,0,Boeing 767-375ER,ATC lost radar contact with the cargo jet when...
5590,2019-03-09,"Vereda La Bendicion, Colombia",Laser Aereo Colombia,13.0,13.0,0,Douglas DC-3,"While on approach to land, the crew contacted ..."
5591,2019-03-10,"Bishoftu, Ethiopia",Ethiopian Airlines,157.0,157.0,0,Boeing 737 Max 8,The internationally scheduled airliner crashed...

In [41]:
disk_engine = create_engine('sqlite:///aviation_accidents.db')
historical_df_final.to_sql('Historical_accidents', disk_engine, if_exists='replace')
crash_df_final.to_sql("Recent_data",disk_engine, if_exists='replace')

In [42]:
calc_final_summary=historical_df_final
calc_final_summary['Year']=historical_df_final['Date'].dt.year

In [43]:
historical_summary=calc_final_summary.groupby(["Year"])
historical_summary_report=pd.DataFrame(historical_summary["Year"].max())
historical_summary_report["Total_Accidents"]=historical_summary["Date"].count()
historical_summary_report["Total_Fatalities"]=historical_summary["Fatalities"].sum().astype(int)
historical_summary_report.reset_index(drop=True,inplace=True)
historical_summary_report.to_sql("Historical_summary",disk_engine,if_exists='replace')

# 
from PIL import Image from wordcloud import WordCloud, STOPWORDS import numpy as np

text = str(final_df["Summary:"].tolist()) plane_mask = np.array(Image.open('C:/users/lalit/beautifulsoup/aeroplane.png'))

stopwords = set(STOPWORDS) stopwords.add('aircraft') stopwords.add('plane')

wc = WordCloud(background_color="white", max_words=2000, mask=plane_mask, stopwords=stopwords) wc.generate(text)

plt.figure(figsize=(10,10)) plt.imshow(wc, interpolation='bilinear') plt.axis("off") plt.title('Brief Summary', loc='Center', fontsize=14) plt.savefig('./aircraft_wordcloud.png', dpi=50) plt.show()

In [24]:
!pip install opencage

Requirement already satisfied: opencage in /Users/jaybaybay/anaconda3/lib/python3.7/site-packages (1.1.6)
Requirement already satisfied: six>=1.4.0 in /Users/jaybaybay/anaconda3/lib/python3.7/site-packages (from opencage) (1.11.0)
Requirement already satisfied: Requests>=2.2.0 in /Users/jaybaybay/anaconda3/lib/python3.7/site-packages (from opencage) (2.19.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/jaybaybay/anaconda3/lib/python3.7/site-packages (from Requests>=2.2.0->opencage) (3.0.4)
Requirement already satisfied: urllib3<1.24,>=1.21.1 in /Users/jaybaybay/anaconda3/lib/python3.7/site-packages (from Requests>=2.2.0->opencage) (1.23)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jaybaybay/anaconda3/lib/python3.7/site-packages (from Requests>=2.2.0->opencage) (2018.8.24)
Requirement already satisfied: idna<2.8,>=2.5 in /Users/jaybaybay/anaconda3/lib/python3.7/site-packages (from Requests>=2.2.0->opencage) (2.7)
You are using pip version 18.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [25]:
crash_df_final["Lat"] = ""
crash_df_final["Lng"] = ""
crash_df_final.head()

,Date,Location,Operator,Aboard,Fatalities,Ground,Type,Summary,Lat,Lng
0,2009-01-01,"Lubock, Texas",Empire Airlines leased from FedEx,2,2,0,ATR-42-320,Crashed while attempting to land. The probable...,,
1,2009-01-04,Near Houma Louisiana,Petroleum Helicopters Inc,9,8,0,Sikorsky S-76C++,A helicopter bound for offshore oil fields wen...,,
2,2009-01-15,"New York, New York",US Airways,155,0,0,Airbus A320-214,The plane was taking off from La Guardia Airpo...,,
3,2009-01-15,"Adraskan district, Afghanistan",Afghan Army,13,13,0,Mil Mi-17,Either shot down or crashed due to bad weather.,,
4,2009-02-07,"Manacapuru, Brazil",Aerotaxi Manaus,28,24,0,Bandeirante EMB-110P1,The plane was being used as an air taxi to fer...,,

In [26]:
test_crash = crash_df_final.head()

In [27]:
# Testing the for loop before running through all of the data
# Loop through the cities_pd and run a lat/long search for each city
for index, row in test_crash.iterrows():
    base_url = "https://api.opencagedata.com/geocode/v1/json?"
    
    Location = row['Location']
    # update address key value
    test_crash["Location"] = test_crash["Location"].str.replace(","," ")
    
#     try:
        # make request
    cities_lat_lng = requests.get(base_url, f"q={Location}&" +"key=a6d247d461fb4a889dfb971ade1eee01&pretty=1")

        # print the cities_lat_lng url, avoid doing for public github repos in order to avoid exposing key
#     print(cities_lat_lng.url)

        # convert to json
    cities_lat_lng = cities_lat_lng.json()
#     print(cities_lat_lng)
        # If an error is experienced, skip the city
#         except:
#             print("City not found. Skipping...")
#             pass

    test_crash.loc[index, "Lat"] = cities_lat_lng["results"][0]["geometry"]["lat"]
    test_crash.loc[index, "Lng"] = cities_lat_lng["results"][0]["geometry"]["lng"]

# Visualize to confirm lat lng appear
test_crash

/Users/jaybaybay/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jaybaybay/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,Date,Location,Operator,Aboard,Fatalities,Ground,Type,Summary,Lat,Lng
0,2009-01-01,Lubock Texas,Empire Airlines leased from FedEx,2,2,0,ATR-42-320,Crashed while attempting to land. The probable...,31.2504,-99.2506
1,2009-01-04,Near Houma Louisiana,Petroleum Helicopters Inc,9,8,0,Sikorsky S-76C++,A helicopter bound for offshore oil fields wen...,29.678,-91.2871
2,2009-01-15,New York New York,US Airways,155,0,0,Airbus A320-214,The plane was taking off from La Guardia Airpo...,40.7309,-73.9872
3,2009-01-15,Adraskan district Afghanistan,Afghan Army,13,13,0,Mil Mi-17,Either shot down or crashed due to bad weather.,33.7054,61.9955
4,2009-02-07,Manacapuru Brazil,Aerotaxi Manaus,28,24,0,Bandeirante EMB-110P1,The plane was being used as an air taxi to fer...,-3.29968,-60.6214

In [28]:
# Loop through the cities_pd and run a lat/long search for each city
for index, row in crash_df_final.iterrows():
    base_url = "https://api.opencagedata.com/geocode/v1/json?"
    
    Location = row['Location']
    # update address key value
    crash_df_final["Location"] = crash_df_final["Location"].str.replace(","," ")
    
    try:
            # make request
        cities_lat_lng = requests.get(base_url, f"q={Location}&" +"key=a6d247d461fb4a889dfb971ade1eee01&pretty=1")

            # print the cities_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    #     print(cities_lat_lng.url)

            # convert to json
        cities_lat_lng = cities_lat_lng.json()
    #     print(cities_lat_lng)

        crash_df_final.loc[index, "Lat"] = cities_lat_lng["results"][0]["geometry"]["lat"]
        crash_df_final.loc[index, "Lng"] = cities_lat_lng["results"][0]["geometry"]["lng"]
    
    # If an error is experienced, skip the city
    except:
        print("City not found. Skipping...")
        pass

City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...

In [31]:
# Visualize to confirm lat lng appear
crash_df_final

,Date,Location,Operator,Aboard,Fatalities,Ground,Type,Summary,Lat,Lng
0,2009-01-01,Lubock Texas,Empire Airlines leased from FedEx,2,2,0,ATR-42-320,Crashed while attempting to land. The probable...,31.2504,-99.2506
1,2009-01-04,Near Houma Louisiana,Petroleum Helicopters Inc,9,8,0,Sikorsky S-76C++,A helicopter bound for offshore oil fields wen...,29.678,-91.2871
2,2009-01-15,New York New York,US Airways,155,0,0,Airbus A320-214,The plane was taking off from La Guardia Airpo...,40.7309,-73.9872
3,2009-01-15,Adraskan district Afghanistan,Afghan Army,13,13,0,Mil Mi-17,Either shot down or crashed due to bad weather.,33.7054,61.9955
4,2009-02-07,Manacapuru Brazil,Aerotaxi Manaus,28,24,0,Bandeirante EMB-110P1,The plane was being used as an air taxi to fer...,-3.29968,-60.6214
5,2009-02-07,Trigoria Italy,Air One Executive,2,2,0,Cessna 650 Citation III,"The plane, heading to Bologna to pick up a med...",41.7647,12.4773
6,2009-02-12,Clarence Center New York,Continental Connection/Colgan Air,49,49,1,Bombardier DHC-8-402 Q400,The commuter plane crashed while attemptiong t...,43.0067,-78.6322
7,2009-02-15,Near Isfahan/Shahin Shahr-Hesa Air Base Iran,HESA,5,5,0,HESA IrAn-140-100,The aircraft crashed druing a training flight.,,
8,2009-02-15,Chanco Chile,Flight Service,13,13,0,Bell UH-1H,The helicopter was carrying firemen to a nearb...,-36.2951,-72.6801
9,2009-02-20,Luxor Egypt,Aerolift,5,5,0,Antonov 12V,"While attemping to take off from Luxor, the ca...",25.7021,32.6472
10,2009-02-25,Amsterdam Netherlands,Turkish Airlines,134,9,0,Boeing 737-8F2,The plane was on final approach to Runway 18R ...,52.3728,4.8936
11,2009-03-09,Lake Victoria Uganda,Aerolift,11,11,0,Ilyushin Il-76T,The cargo plane carrying and water purificatio...,-37.8441,145.108
12,2009-03-12,Off St. Johns Newfoundland,Cougar Helicopters,18,17,0,Sikorsky S-92A,The pilot reported a technical malfunction and...,47.5617,-52.7151
13,2009-03-22,Butte Montana,Eagle Cap Leasing,14,14,0,Pilatus PC-12/45,The plane crashed 500 feet short of the runway...,46.0132,-112.537
14,2009-03-23,Tokyo Japan,FedEx,2,2,0,McDonnell Douglas MD-11,The cargo plane crashed and burst into flame a...,35.6828,139.759
15,2009-04-01,Off Crimond Scotland,Bond Offshore Helicopters,16,16,0,Eurocopter AS 332L2 Super Puma 2,The helicopter crashed 35 miles East of Crimon...,57.6005,-1.91535
16,2009-04-06,Bandung Indonesia,Military - Indonesian Air Force,24,24,0,Fokker F-27 Friendship 400M,While returning from a military training exerc...,-6.93447,107.605
17,2009-04-09,Near Wamena Indonesia,Aviastar Mandiri,6,6,0,British Aerospace BAe-146-300,The cargo plane crashed into Gunung Pike mount...,-4.09512,138.945
18,2009-04-17,Mount Gergaji Indonesia,Mimika Air,11,11,0,Pilatus PC-6,The passenger plane crashed in poor weather in...,-1.06561,119.578
19,2009-04-17,Canaima National Park Venezuela,Aerotuy Airline,11,1,0,Cessna 208B Grand Caravan,"The plane, carrying 9 tourists, crashed 5 mile...",5.58932,-62.1317
20,2009-04-29,Massamba Democratic Republic of Congo,Bako Air,7,7,0,Boeing B-737-200,Crashed while en route on a ferrying flight. T...,-4.32411,15.2715
21,2009-05-03,Near El Alto de Rubio Venezuela,Military - Venezuelan Army,18,18,0,Mi-35,The helicopter was patrolling along the Venezu...,,
22,2009-05-20,Near Madiun Indonesia,Military - Indonesian Air Force,112,98,2,Lockheed C-130 Hercules,"While on approach, the military transport cras...",-7.6298,111.524
23,2009-05-26,Near Isiro Democratic Republic Congo,Service Air,4,4,?,Antonov An-26,The cargo plane crashed while on approach to I...,,
24,2009-06-01,Atlantic Ocean 570 miles northeast of Natal ...,Air France,228,228,0,Airbus A330-203,The Airbus went missing over the Atlantic Ocea...,-5.795,-35.2094
25,2009-06-07,Near Port Hope Simpson Newfoundland Canada,Strait Air,1,1,0,Britten-Norman BN-2A-27 Islander,The air ambulance crashed into hills while att...,52.5501,-56.298
26,2009-06-08,State of Arunachal Pradesh India,Military - Indian Air Force,13,13,0,Antonov An-32,The military transport went missing while en r...,28.3642,94.7586
27,2009-06-29,Near Wamena Indonesia,Aviastar Mandiri,3,3,0,de Havilland Canada DHC-6 Twin Otter 300,"While en route and nearing it's destination, t...",-4.09512,138.945
28,2009-06-30,Off Mitsamiouli Comoros,Yemenia Airway,153,152,0,Airbus A310-324,"The plane crashed into the Indian Ocean, 10 mi...",-11.3889,43.293
29,2009-07-03,Near Peshawar Pakistan,Military - Pakistan Army,26,26,0,Mil Mi-17,The military helicopter crashed en route while...,33.9739,71.7483
...,...,...,...,...,...,...,...,...,...,...
294,2017-06-07,Off Dawei Myanmar,Myanmar Air Force,122,122,0,Shaanxi Y-8F-200W,The transport plane carrying military personne...,14.0797,98.199
295,2017-06-28,Mount Gambier South Australia,Angel Flight,3,3,0,Socata TB1-10 Tobago,The medical flight crashed 3 km south of Mount...,-37.8247,140.782
296,2017-07-10,Near Itta Bena Mississipi,USMC,16,16,0,Lockheed KC-130T Hercules,"While en route, the Marine Corps transport suf...",33.4951,-90.3198
297,2017-10-14,Abidjan Ivory Coast,Valan International Cargo Charter,10,4,0,Antonov AN-26-100,"The cargo plane, carrying French military carg...",5.40912,-4.04221
298,2017-11-15,Empakaai Tanzania,Costal Aviation,11,11,0,Cessna 208B Grand Caravan,The chartered Cessna was flying tourists from ...,-2.90919,35.8279
299,2017-12-13,Near Fond-du-Lac Saskatchewan,West Wind Aviation,25,1,0,ATR42-320,"Shortly after taking off, the aircraft lost al...",59.3203,-107.197
300,2017-12-31,Punta Islita Costa Rica,Naure Air,12,12,0,Cessna 208B Grand Caravan,The passenger plane crashed 10 minutes after t...,9.85587,-85.3714
301,2018-01-29,Zhengchang Suiyang County Guizhou Province,People's Liberation Army Air Force,12,12,0,Shaanxi Y-8GX-3,Unknown,27.8886,107.253
302,2018-02-10,Grand Canyon Arizona,Papillon,7,3,0,Eurocopter EC 130B4,The helicopter was observed making strange man...,36.0966,-112.098
303,2018-02-11,Argunovo Russia,Saratov Airlines,71,71,0,Antonov AN-148-100,The regional airliner took off from Moscow at ...,55.2851,38.3959
304,2018-02-18,Kohangan village Iran,Iran Aseman Airlines,66,66,0,Iran Aseman Airlines,The airliner was on approach to Yasuj Airport ...,32,53
305,2018-03-06,Latakia Syria,Military - Russian Air Force,39,39,0,Antonov An-26,While on approach to Latakia-Khmeimim Air Base...,35.52,35.7781
306,2018-03-11,New York New York,Liberty Helicopters,6,5,0,Eurocopter AS 350B2,The sightseeing helicopter suddenly lost power...,40.7309,-73.9872
307,2018-03-12,Kathmandu Nepal,US-Bangla Airlines,71,51,0,de Havilland Canada DHC-8-402Q Dash 8,"After getting clearance to land, the aircraft ...",27.7088,85.3202
308,2018-03-17,Plaridel Philippines,Lite Air Express,5,5,5,Piper PA-32RT-300T,The small passenger plane crashed shortly afte...,14.8854,120.859
309,2018-04-11,Boufarik AB Algeria,Military - Algerian Air Force,257,257,0,Ilyushin 76-TD,The Algerian military plane crashed soon after...,36.5756,2.9129
310,2018-04-17,NW of Philadelphia Pennsylvania,Southwest Airlines,149,1,0,Boeing 737-7H4,"While climbing to FL320, the No. 1 engine suff...",39.8714,-75.2409
311,2018-05-02,Port Wentworth Georgia,Military - US Air Force,9,9,0,Lockheed HC-130H Hercules,A Porto Rico Air National Guard plane crashed ...,32.1491,-81.1632
312,2018-05-18,Havana Cuba,Cubana (leased from Global Air),113,112,0,Boeing 737-201,After taking off from runway 06 at Havana-José...,23.1353,-82.359
313,2018-06-05,Near Njabini Kenya,Fly SAX,10,10,0,Cessna 208B Grand Caravan,Ground lost contact with the aircraft when it ...,-0.71667,36.6667
314,2018-07-10,Pretoria South Africa,Rovos Air,19,1,1,Convair CV-340,"Shortly after takeoff from runway 29, the left...",-25.7459,28.1879
315,2018-08-04,Flims Switzerland,Ju Air,20,20,1,Junkers JU-52,The vintage aircraft crashed onto Piz Segnas m...,46.8332,9.28346
316,2018-09-28,Chuuk Micronesia,Air Niugini,47,1,0,Boeing 737-8BK,The aircraft was approaching for a landing at ...,7.43938,151.852
317,2018-10-29,Off Jakarta Indonesia,Lion Air,189,189,0,Boeing 737-MAX 8,"The airliner crashed into the Jakarta Sea, 13 ...",-8.79968,115.151
318,2018-11-06,Georgetown Guyana,Fly Jamaica Airways,128,1,0,Boeing 757-N23,"After taking off and reaching FL200, the crew ...",6.80258,-58.1629
319,2018-11-18,Near Mandan North Dakota,Metro Area Ambulance Services,3,3,0,Cessna 441 Conquest II,The air ambulance en route to pick up a patien...,46.7131,-100.953
320,2019-01-14,Karaj Iran,Saha Air,16,15,0,Boeing 707-3J9C,The cargo plane was operated by the Iranian Ai...,35.8122,51.0074
321,2019-02-23,Houston Texas,Atlas Air serving Amazon,3,3,0,Boeing 767-375ER,ATC lost radar contact with the cargo jet when...,29.7589,-95.3677
322,2019-03-09,Vereda La Bendicion Colombia,Laser Aereo Colombia,13,13,0,Douglas DC-3,"While on approach to land, the crew contacted ...",7.97049,-72.5294
323,2019-03-10,Bishoftu Ethiopia,Ethiopian Airlines,157,157,0,Boeing 737 Max 8,The internationally scheduled airliner crashed...,8.75,38.9817

In [32]:
disk_engine = create_engine('sqlite:///aviation_accidents.sqlite')
crash_df_final.to_sql("Recent_data",disk_engine, if_exists='replace')

In [33]:
# The path to our CSV file
file = "AviationDataNTSB.csv"

# Read our Kickstarter data into pandas
df = pd.read_csv(file)
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.Flight,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date
0,20181217X10943,Accident,GAA19CA098,2018-12-16,"Grangville, ID",United States,45.583611,-115.681667,PVT,NaN,...,Positioning,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Preliminary,2018-12-18
1,20181217X25746,Accident,GAA19CA097,2018-12-15,"MORIARTY, NM",United States,34.970000,-106.000000,NaN,MORIARTY MUNI,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,NaN,Preliminary,2018-12-20
2,20181213X41114,Accident,ERA19LA065,2018-12-13,"Punta Gorda, FL",United States,26.925278,-82.001111,PGD,Punta Gorda,...,Personal,NaN,NaN,NaN,1.0,NaN,VMC,APPROACH,Preliminary,2018-12-21
3,20181213X45528,Accident,CEN19FA044,2018-12-13,"Valparaiso, IN",United States,41.451667,-87.004444,VPZ,Porter County Rgnl,...,Personal,NaN,1.0,NaN,NaN,NaN,VMC,TAKEOFF,Preliminary,2018-12-19
4,20181214X90303,Accident,GAA19CA096,2018-12-11,"Hartford, WI",United States,43.330278,-88.326111,HXF,Hartford Muni,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,NaN,Preliminary,2018-12-18

In [34]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.Damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.Flight', 'Air.Carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.Phase.of.Flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [35]:
reduced_aviation_df = df.loc[:, ["Event.Id","Event.Date","Location","Country","Latitude","Longitude","Aircraft.Damage","Aircraft.Category","Amateur.Built","Total.Fatal.Injuries","Total.Serious.Injuries","Total.Minor.Injuries","Total.Uninjured"]]

reduced_aviation_df

,Event.Id,Event.Date,Location,Country,Latitude,Longitude,Aircraft.Damage,Aircraft.Category,Amateur.Built,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,20181217X10943,2018-12-16,"Grangville, ID",United States,45.583611,-115.681667,Substantial,Airplane,No,NaN,NaN,NaN,1.0
1,20181217X25746,2018-12-15,"MORIARTY, NM",United States,34.970000,-106.000000,Substantial,Airplane,No,NaN,NaN,NaN,1.0
2,20181213X41114,2018-12-13,"Punta Gorda, FL",United States,26.925278,-82.001111,Substantial,Airplane,No,NaN,NaN,1.0,NaN
3,20181213X45528,2018-12-13,"Valparaiso, IN",United States,41.451667,-87.004444,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
4,20181214X90303,2018-12-11,"Hartford, WI",United States,43.330278,-88.326111,Substantial,Airplane,No,NaN,NaN,NaN,1.0
5,20181210X21905,2018-12-10,"Chester, CT",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,NaN
6,20181208X53536,2018-12-08,"Hesperia, CA",United States,34.376945,-117.316111,Substantial,Airplane,Yes,NaN,NaN,NaN,1.0
7,20181206X45049,2018-12-05,"Cornelia, GA",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,2.0
8,20181204X03049,2018-12-04,"Reno, NV",United States,39.658889,-119.865833,Substantial,Airplane,No,NaN,NaN,NaN,2.0
9,20181212X01623,2018-12-04,"Moscow, PA",United States,41.326945,-75.591111,Substantial,Airplane,No,NaN,NaN,NaN,1.0
10,20181204X93009,2018-12-03,"Monroe, NC",United States,35.017500,-80.621945,Substantial,Airplane,No,NaN,NaN,NaN,1.0
11,20181204X05247,2018-12-02,"Santa Rita, GU",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,2.0,NaN
12,20181201X45922,2018-12-01,"Fort Lauderdale, FL",United States,26.205000,-80.157222,Destroyed,Airplane,No,2.0,NaN,1.0,NaN
13,20181130X14057,2018-11-30,"Apalachicola, FL",United States,29.763611,-85.022500,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
14,20181130X80724,2018-11-30,"Fargo, ND",United States,46.920556,-96.815833,Substantial,Airplane,No,NaN,NaN,9.0,2.0
15,20181130X31617,2018-11-30,"Memphis, IN",United States,38.475278,-85.811111,Destroyed,Airplane,No,3.0,NaN,NaN,NaN
16,20181130X14309,2018-11-29,"Machadodorp, South Africa",South Africa,-25.607778,30.514444,Substantial,Airplane,No,NaN,5.0,NaN,NaN
17,20181129X63138,2018-11-29,"Burlington, WA",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,1.0
18,20181129X30228,2018-11-29,"Kennesaw, GA",United States,34.039444,-84.585833,Substantial,Airplane,No,NaN,NaN,2.0,NaN
19,20181129X70430,2018-11-29,"Marion, IN",United States,40.480556,-85.682500,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
20,20181206X23959,2018-11-28,"West Bangkala, Indonesia",Indonesia,-5.476389,119.523611,Substantial,Helicopter,NaN,NaN,NaN,NaN,2.0
21,20181128X44044,2018-11-28,"St. Petersburg, FL",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,1.0
22,20181129X43605,2018-11-28,"Rock Hill, SC",United States,34.984722,-81.058056,Substantial,Airplane,No,NaN,NaN,NaN,2.0
23,20181128X85901,2018-11-28,"Mesa, AZ",United States,33.307778,-111.655556,Substantial,Airplane,No,NaN,NaN,NaN,7.0
24,20181128X85901,2018-11-28,"Mesa, AZ",United States,33.307778,-111.655556,Minor,Airplane,No,NaN,NaN,NaN,7.0
25,20181128X42306,2018-11-28,"Americus, GA",United States,32.039722,-84.294166,Substantial,Airplane,No,NaN,NaN,NaN,1.0
26,20181128X93322,2018-11-27,"Casa Grande, AZ",United States,32.955000,-111.766945,Substantial,Airplane,No,NaN,1.0,NaN,NaN
27,20181126X63346,2018-11-26,"Rio Vista, CA",United States,38.193333,-121.703611,Substantial,Airplane,Yes,NaN,NaN,NaN,1.0
28,20181130X81333,2018-11-26,"Jequita?? County, Brazil",Brazil,-18.512222,-44.555000,Destroyed,Airplane,No,4.0,NaN,NaN,NaN
29,20181203X05042,2018-11-26,"Addis Ababa, Ethiopia",Ethiopia,NaN,NaN,Minor,Airplane,No,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65469,20001213X30702,1987-04-03,"ASHFORK, AZ",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,1.0,0.0
65470,20001213X30679,1987-04-03,"ALTUS, OK",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,4.0
65471,20001213X30636,1987-04-03,"ROCK ROVER, WY",United States,NaN,NaN,Destroyed,NaN,No,0.0,1.0,0.0,0.0
65472,20001213X30635,1987-04-03,"BOULDER, CO",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,1.0
65473,20001213X30634,1987-04-03,"LOS ALAMOS, NM",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,2.0
65474,20001213X30627,1987-04-03,"MORGAN, UT",United States,NaN,NaN,Destroyed,NaN,No,NaN,4.0,NaN,NaN
65475,20001213X30611,1987-04-03,"BIG LAKE, MN",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,2.0
65476,20001213X30572,1987-04-03,"RHINE, GA",United States,NaN,NaN,Destroyed,NaN,No,1.0,0.0,0.0,0.0
65477,20001213X30820,1987-04-02,"JEAN, NV",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,1.0
65478,20001213X30804,1987-04-02,"BRIDGEPORT, NJ",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,2.0
65479,20001213X30776,1987-04-02,"TOPEKA, KS",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,1.0
65480,20001213X30749,1987-04-02,"MIAMI, FL",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,2.0
65481,20001213X30745,1987-04-02,"TITUSVILLE, FL",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,6.0
65482,20001213X30736,1987-04-02,"FT. LAUDERDALE, FL",United States,NaN,NaN,Substantial,NaN,No,0.0,4.0,0.0,0.0
65483,20001213X30703,1987-04-02,"UPLAND, CA",United States,NaN,NaN,Destroyed,NaN,No,2.0,0.0,0.0,0.0
65484,20001213X30669,1987-04-02,"UVALDE, TX",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,1.0,1.0
65485,20001213X30775,1987-04-01,"HALSTEAD, KS",United States,NaN,NaN,Substantial,NaN,No,NaN,NaN,1.0,2.0
65486,20001213X30774,1987-04-01,"DODGE CITY, KS",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,1.0
65487,20001213X30773,1987-04-01,"CREVE COEUR, MO",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,1.0
65488,20001213X30744,1987-04-01,"JACKSON, MS",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,2.0
65489,20001213X30743,1987-04-01,"ORLANDO, FL",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,1.0
65490,20001213X30677,1987-04-01,"LAVERNE, OK",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,4.0
65491,20001213X30633,1987-04-01,"ENGLEWOOD, CO",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,1.0
65492,20001213X30580,1987-04-01,"OLIVER SPRINGS, TN",United States,NaN,NaN,Substantial,NaN,No,0.0,1.0,0.0,0.0
65493,20001213X30579,1987-04-01,"MIAMI, FL",United States,NaN,NaN,NaN,NaN,No,0.0,1.0,0.0,95.0
65494,20001213X30565,1987-04-01,"ANCHORAGE, AK",United States,NaN,NaN,Substantial,NaN,No,2.0,0.0,0.0,0.0
65495,20001213X30533,1987-03-31,"TRIBUNE, KS",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,1.0
65496,20001213X30490,1987-03-31,"GRAND CANYON, AZ",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,1.0,2.0
65497,20001213X30489,1987-03-31,"TUCSON, AZ",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,2.0
65498,20001213X30459,1987-03-31,"SAN LUIS OBISPO, CA",United States,NaN,NaN,Substantial,NaN,Yes,0.0,1.0,0.0,0.0

In [36]:
reduced_aviation_df = reduced_aviation_df.loc[(
    reduced_aviation_df["Amateur.Built"] == "No")]
reduced_aviation_df

,Event.Id,Event.Date,Location,Country,Latitude,Longitude,Aircraft.Damage,Aircraft.Category,Amateur.Built,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,20181217X10943,2018-12-16,"Grangville, ID",United States,45.583611,-115.681667,Substantial,Airplane,No,NaN,NaN,NaN,1.0
1,20181217X25746,2018-12-15,"MORIARTY, NM",United States,34.970000,-106.000000,Substantial,Airplane,No,NaN,NaN,NaN,1.0
2,20181213X41114,2018-12-13,"Punta Gorda, FL",United States,26.925278,-82.001111,Substantial,Airplane,No,NaN,NaN,1.0,NaN
3,20181213X45528,2018-12-13,"Valparaiso, IN",United States,41.451667,-87.004444,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
4,20181214X90303,2018-12-11,"Hartford, WI",United States,43.330278,-88.326111,Substantial,Airplane,No,NaN,NaN,NaN,1.0
5,20181210X21905,2018-12-10,"Chester, CT",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,NaN
7,20181206X45049,2018-12-05,"Cornelia, GA",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,2.0
8,20181204X03049,2018-12-04,"Reno, NV",United States,39.658889,-119.865833,Substantial,Airplane,No,NaN,NaN,NaN,2.0
9,20181212X01623,2018-12-04,"Moscow, PA",United States,41.326945,-75.591111,Substantial,Airplane,No,NaN,NaN,NaN,1.0
10,20181204X93009,2018-12-03,"Monroe, NC",United States,35.017500,-80.621945,Substantial,Airplane,No,NaN,NaN,NaN,1.0
11,20181204X05247,2018-12-02,"Santa Rita, GU",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,2.0,NaN
12,20181201X45922,2018-12-01,"Fort Lauderdale, FL",United States,26.205000,-80.157222,Destroyed,Airplane,No,2.0,NaN,1.0,NaN
13,20181130X14057,2018-11-30,"Apalachicola, FL",United States,29.763611,-85.022500,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
14,20181130X80724,2018-11-30,"Fargo, ND",United States,46.920556,-96.815833,Substantial,Airplane,No,NaN,NaN,9.0,2.0
15,20181130X31617,2018-11-30,"Memphis, IN",United States,38.475278,-85.811111,Destroyed,Airplane,No,3.0,NaN,NaN,NaN
16,20181130X14309,2018-11-29,"Machadodorp, South Africa",South Africa,-25.607778,30.514444,Substantial,Airplane,No,NaN,5.0,NaN,NaN
17,20181129X63138,2018-11-29,"Burlington, WA",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,1.0
18,20181129X30228,2018-11-29,"Kennesaw, GA",United States,34.039444,-84.585833,Substantial,Airplane,No,NaN,NaN,2.0,NaN
19,20181129X70430,2018-11-29,"Marion, IN",United States,40.480556,-85.682500,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
21,20181128X44044,2018-11-28,"St. Petersburg, FL",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,1.0
22,20181129X43605,2018-11-28,"Rock Hill, SC",United States,34.984722,-81.058056,Substantial,Airplane,No,NaN,NaN,NaN,2.0
23,20181128X85901,2018-11-28,"Mesa, AZ",United States,33.307778,-111.655556,Substantial,Airplane,No,NaN,NaN,NaN,7.0
24,20181128X85901,2018-11-28,"Mesa, AZ",United States,33.307778,-111.655556,Minor,Airplane,No,NaN,NaN,NaN,7.0
25,20181128X42306,2018-11-28,"Americus, GA",United States,32.039722,-84.294166,Substantial,Airplane,No,NaN,NaN,NaN,1.0
26,20181128X93322,2018-11-27,"Casa Grande, AZ",United States,32.955000,-111.766945,Substantial,Airplane,No,NaN,1.0,NaN,NaN
28,20181130X81333,2018-11-26,"Jequita?? County, Brazil",Brazil,-18.512222,-44.555000,Destroyed,Airplane,No,4.0,NaN,NaN,NaN
29,20181203X05042,2018-11-26,"Addis Ababa, Ethiopia",Ethiopia,NaN,NaN,Minor,Airplane,No,NaN,NaN,NaN,NaN
30,20181126X35126,2018-11-26,"Santa Fe, NM",United States,35.617223,-106.089444,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
31,20181125X85246,2018-11-25,"Fresno, CA",United States,36.030000,-119.063056,Substantial,Airplane,No,NaN,NaN,NaN,1.0
32,20181127X15732,2018-11-24,"Alice Springs, Australia",Australia,NaN,NaN,Substantial,Helicopter,No,1.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65468,20001213X30746,1987-04-03,"MIAMI, FL",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,4.0
65469,20001213X30702,1987-04-03,"ASHFORK, AZ",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,1.0,0.0
65470,20001213X30679,1987-04-03,"ALTUS, OK",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,4.0
65471,20001213X30636,1987-04-03,"ROCK ROVER, WY",United States,NaN,NaN,Destroyed,NaN,No,0.0,1.0,0.0,0.0
65472,20001213X30635,1987-04-03,"BOULDER, CO",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,1.0
65473,20001213X30634,1987-04-03,"LOS ALAMOS, NM",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,2.0
65474,20001213X30627,1987-04-03,"MORGAN, UT",United States,NaN,NaN,Destroyed,NaN,No,NaN,4.0,NaN,NaN
65475,20001213X30611,1987-04-03,"BIG LAKE, MN",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,2.0
65476,20001213X30572,1987-04-03,"RHINE, GA",United States,NaN,NaN,Destroyed,NaN,No,1.0,0.0,0.0,0.0
65477,20001213X30820,1987-04-02,"JEAN, NV",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,1.0
65478,20001213X30804,1987-04-02,"BRIDGEPORT, NJ",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,2.0
65479,20001213X30776,1987-04-02,"TOPEKA, KS",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,1.0
65480,20001213X30749,1987-04-02,"MIAMI, FL",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,2.0
65481,20001213X30745,1987-04-02,"TITUSVILLE, FL",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,6.0
65482,20001213X30736,1987-04-02,"FT. LAUDERDALE, FL",United States,NaN,NaN,Substantial,NaN,No,0.0,4.0,0.0,0.0
65483,20001213X30703,1987-04-02,"UPLAND, CA",United States,NaN,NaN,Destroyed,NaN,No,2.0,0.0,0.0,0.0
65484,20001213X30669,1987-04-02,"UVALDE, TX",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,1.0,1.0
65485,20001213X30775,1987-04-01,"HALSTEAD, KS",United States,NaN,NaN,Substantial,NaN,No,NaN,NaN,1.0,2.0
65486,20001213X30774,1987-04-01,"DODGE CITY, KS",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,1.0
65487,20001213X30773,1987-04-01,"CREVE COEUR, MO",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,1.0
65488,20001213X30744,1987-04-01,"JACKSON, MS",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,2.0
65489,20001213X30743,1987-04-01,"ORLANDO, FL",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,1.0
65490,20001213X30677,1987-04-01,"LAVERNE, OK",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,4.0
65491,20001213X30633,1987-04-01,"ENGLEWOOD, CO",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,1.0
65492,20001213X30580,1987-04-01,"OLIVER SPRINGS, TN",United States,NaN,NaN,Substantial,NaN,No,0.0,1.0,0.0,0.0
65493,20001213X30579,1987-04-01,"MIAMI, FL",United States,NaN,NaN,NaN,NaN,No,0.0,1.0,0.0,95.0
65494,20001213X30565,1987-04-01,"ANCHORAGE, AK",United States,NaN,NaN,Substantial,NaN,No,2.0,0.0,0.0,0.0
65495,20001213X30533,1987-03-31,"TRIBUNE, KS",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,1.0
65496,20001213X30490,1987-03-31,"GRAND CANYON, AZ",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,1.0,2.0
65497,20001213X30489,1987-03-31,"TUCSON, AZ",United States,NaN,NaN,Substantial,NaN,No,0.0,0.0,0.0,2.0

In [37]:
reduced_aviation_df = reduced_aviation_df.loc[(
    reduced_aviation_df["Aircraft.Category"] == "Airplane")]
reduced_aviation_df

,Event.Id,Event.Date,Location,Country,Latitude,Longitude,Aircraft.Damage,Aircraft.Category,Amateur.Built,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,20181217X10943,2018-12-16,"Grangville, ID",United States,45.583611,-115.681667,Substantial,Airplane,No,NaN,NaN,NaN,1.0
1,20181217X25746,2018-12-15,"MORIARTY, NM",United States,34.970000,-106.000000,Substantial,Airplane,No,NaN,NaN,NaN,1.0
2,20181213X41114,2018-12-13,"Punta Gorda, FL",United States,26.925278,-82.001111,Substantial,Airplane,No,NaN,NaN,1.0,NaN
3,20181213X45528,2018-12-13,"Valparaiso, IN",United States,41.451667,-87.004444,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
4,20181214X90303,2018-12-11,"Hartford, WI",United States,43.330278,-88.326111,Substantial,Airplane,No,NaN,NaN,NaN,1.0
5,20181210X21905,2018-12-10,"Chester, CT",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,NaN
7,20181206X45049,2018-12-05,"Cornelia, GA",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,2.0
8,20181204X03049,2018-12-04,"Reno, NV",United States,39.658889,-119.865833,Substantial,Airplane,No,NaN,NaN,NaN,2.0
9,20181212X01623,2018-12-04,"Moscow, PA",United States,41.326945,-75.591111,Substantial,Airplane,No,NaN,NaN,NaN,1.0
10,20181204X93009,2018-12-03,"Monroe, NC",United States,35.017500,-80.621945,Substantial,Airplane,No,NaN,NaN,NaN,1.0
11,20181204X05247,2018-12-02,"Santa Rita, GU",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,2.0,NaN
12,20181201X45922,2018-12-01,"Fort Lauderdale, FL",United States,26.205000,-80.157222,Destroyed,Airplane,No,2.0,NaN,1.0,NaN
13,20181130X14057,2018-11-30,"Apalachicola, FL",United States,29.763611,-85.022500,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
14,20181130X80724,2018-11-30,"Fargo, ND",United States,46.920556,-96.815833,Substantial,Airplane,No,NaN,NaN,9.0,2.0
15,20181130X31617,2018-11-30,"Memphis, IN",United States,38.475278,-85.811111,Destroyed,Airplane,No,3.0,NaN,NaN,NaN
16,20181130X14309,2018-11-29,"Machadodorp, South Africa",South Africa,-25.607778,30.514444,Substantial,Airplane,No,NaN,5.0,NaN,NaN
17,20181129X63138,2018-11-29,"Burlington, WA",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,1.0
18,20181129X30228,2018-11-29,"Kennesaw, GA",United States,34.039444,-84.585833,Substantial,Airplane,No,NaN,NaN,2.0,NaN
19,20181129X70430,2018-11-29,"Marion, IN",United States,40.480556,-85.682500,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
21,20181128X44044,2018-11-28,"St. Petersburg, FL",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,1.0
22,20181129X43605,2018-11-28,"Rock Hill, SC",United States,34.984722,-81.058056,Substantial,Airplane,No,NaN,NaN,NaN,2.0
23,20181128X85901,2018-11-28,"Mesa, AZ",United States,33.307778,-111.655556,Substantial,Airplane,No,NaN,NaN,NaN,7.0
24,20181128X85901,2018-11-28,"Mesa, AZ",United States,33.307778,-111.655556,Minor,Airplane,No,NaN,NaN,NaN,7.0
25,20181128X42306,2018-11-28,"Americus, GA",United States,32.039722,-84.294166,Substantial,Airplane,No,NaN,NaN,NaN,1.0
26,20181128X93322,2018-11-27,"Casa Grande, AZ",United States,32.955000,-111.766945,Substantial,Airplane,No,NaN,1.0,NaN,NaN
28,20181130X81333,2018-11-26,"Jequita?? County, Brazil",Brazil,-18.512222,-44.555000,Destroyed,Airplane,No,4.0,NaN,NaN,NaN
29,20181203X05042,2018-11-26,"Addis Ababa, Ethiopia",Ethiopia,NaN,NaN,Minor,Airplane,No,NaN,NaN,NaN,NaN
30,20181126X35126,2018-11-26,"Santa Fe, NM",United States,35.617223,-106.089444,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
31,20181125X85246,2018-11-25,"Fresno, CA",United States,36.030000,-119.063056,Substantial,Airplane,No,NaN,NaN,NaN,1.0
33,20181124X14130,2018-11-23,"Bakersfield, CA",United States,35.433611,-119.054444,NaN,Airplane,No,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57256,20001212X22890,1990-04-30,"MOOSONEE, Canada",Canada,NaN,NaN,Destroyed,Airplane,No,1.0,3.0,NaN,NaN
57348,20001212X22992,1990-04-17,"SALINA, KS",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,2.0
57356,20001212X22966,1990-04-16,"FORT LAUDERDALE, FL",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,8.0
57408,20001212X22846,1990-04-09,"GADSDEN, AL",United States,NaN,NaN,Destroyed,Airplane,No,2.0,NaN,NaN,7.0
57409,20001212X22846,1990-04-09,"GADSDEN, AL",United States,NaN,NaN,Substantial,Airplane,No,2.0,NaN,NaN,7.0
57563,20001212X22649,1990-03-16,"SULATNA CROSS, AK",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,2.0
57793,20001212X22619,1990-02-01,"FAIRFIELD, CT",United States,NaN,NaN,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
57807,20001212X22480,1990-01-29,"WILLISTON, VT",United States,NaN,NaN,Destroyed,Airplane,No,2.0,NaN,NaN,NaN
57810,20001212X22493,1990-01-28,"PITTSTOWN, NJ",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,1.0
57811,20001212X22492,1990-01-28,"ROXBURY, ME",United States,NaN,NaN,Destroyed,Airplane,No,NaN,NaN,NaN,2.0
58007,20001213X29904,1989-12-17,"CINCINNATI, OH",United States,NaN,NaN,Substantial,Airplane,No,1.0,NaN,1.0,1.0
59001,20001213X28948,1989-07-30,"SALISBURY TWP, PA",United States,NaN,NaN,Destroyed,Airplane,No,7.0,NaN,NaN,NaN
59002,20001213X28948,1989-07-30,"SALISBURY TWP, PA",United States,NaN,NaN,Destroyed,Airplane,No,7.0,NaN,NaN,NaN
59007,20001213X28746,1989-07-30,"WILLIAMSBURG, VA",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,4.0
59245,20001213X28927,1989-07-03,"MORRILTON, AR",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,1.0,NaN
59429,20001213X28620,1989-06-15,"MIRAMAR, FL",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,3.0,NaN
59792,20001213X28167,1989-04-27,"AINSWORTH, NE",United States,NaN,NaN,Destroyed,Airplane,No,3.0,NaN,NaN,NaN
60510,20001213X27448,1988-12-27,"CHINO, CA",United States,NaN,NaN,Substantial,Airplane,No,NaN,1.0,NaN,NaN
60528,20001213X27392,1988-12-24,"MADISON, IN",United States,NaN,NaN,Destroyed,Airplane,No,2.0,NaN,NaN,NaN
60534,20001213X27446,1988-12-23,"Midway Islands, PO",United States,38.540000,-173.240000,NaN,Airplane,No,NaN,1.0,1.0,220.0
60726,20001213X27315,1988-11-14,"PANAMA CITY, Panama",Panama,NaN,NaN,NaN,Airplane,No,NaN,1.0,4.0,222.0
61536,20001213X26459,1988-08-07,"RACINE, WV",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,1.0,NaN
61607,20001213X26456,1988-08-01,"SELBYVILLE, DE",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,1.0
61938,20001213X25979,1988-06-30,"PERRIS, CA",United States,NaN,NaN,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
62432,20001213X25661,1988-05-02,"NR TOKYO, Japan",Japan,NaN,NaN,Minor,Airplane,No,NaN,NaN,NaN,258.0
62544,20001213X25535,1988-04-16,"San Jose, Costa Rica",Costa Rica,NaN,NaN,NaN,Airplane,No,NaN,1.0,NaN,192.0
62622,20001213X25425,1988-04-05,"ST. PAUL, MN",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,5.0
62702,20001213X25245,1988-03-27,"OXFORD, United Kingdom",United Kingdom,NaN,NaN,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
62965,20001213X25152,1988-02-16,"BRIDGEPORT, CT",United States,NaN,NaN,Destroyed,Airplane,No,NaN,NaN,NaN,3.0
65477,20001213X30820,1987-04-02,"JEAN, NV",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,1.0

In [38]:
aviation_final_df = reduced_aviation_df.loc[(
    reduced_aviation_df["Country"] == "United States")]
aviation_final_df

,Event.Id,Event.Date,Location,Country,Latitude,Longitude,Aircraft.Damage,Aircraft.Category,Amateur.Built,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,20181217X10943,2018-12-16,"Grangville, ID",United States,45.583611,-115.681667,Substantial,Airplane,No,NaN,NaN,NaN,1.0
1,20181217X25746,2018-12-15,"MORIARTY, NM",United States,34.970000,-106.000000,Substantial,Airplane,No,NaN,NaN,NaN,1.0
2,20181213X41114,2018-12-13,"Punta Gorda, FL",United States,26.925278,-82.001111,Substantial,Airplane,No,NaN,NaN,1.0,NaN
3,20181213X45528,2018-12-13,"Valparaiso, IN",United States,41.451667,-87.004444,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
4,20181214X90303,2018-12-11,"Hartford, WI",United States,43.330278,-88.326111,Substantial,Airplane,No,NaN,NaN,NaN,1.0
5,20181210X21905,2018-12-10,"Chester, CT",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,NaN
7,20181206X45049,2018-12-05,"Cornelia, GA",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,2.0
8,20181204X03049,2018-12-04,"Reno, NV",United States,39.658889,-119.865833,Substantial,Airplane,No,NaN,NaN,NaN,2.0
9,20181212X01623,2018-12-04,"Moscow, PA",United States,41.326945,-75.591111,Substantial,Airplane,No,NaN,NaN,NaN,1.0
10,20181204X93009,2018-12-03,"Monroe, NC",United States,35.017500,-80.621945,Substantial,Airplane,No,NaN,NaN,NaN,1.0
11,20181204X05247,2018-12-02,"Santa Rita, GU",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,2.0,NaN
12,20181201X45922,2018-12-01,"Fort Lauderdale, FL",United States,26.205000,-80.157222,Destroyed,Airplane,No,2.0,NaN,1.0,NaN
13,20181130X14057,2018-11-30,"Apalachicola, FL",United States,29.763611,-85.022500,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
14,20181130X80724,2018-11-30,"Fargo, ND",United States,46.920556,-96.815833,Substantial,Airplane,No,NaN,NaN,9.0,2.0
15,20181130X31617,2018-11-30,"Memphis, IN",United States,38.475278,-85.811111,Destroyed,Airplane,No,3.0,NaN,NaN,NaN
17,20181129X63138,2018-11-29,"Burlington, WA",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,1.0
18,20181129X30228,2018-11-29,"Kennesaw, GA",United States,34.039444,-84.585833,Substantial,Airplane,No,NaN,NaN,2.0,NaN
19,20181129X70430,2018-11-29,"Marion, IN",United States,40.480556,-85.682500,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
21,20181128X44044,2018-11-28,"St. Petersburg, FL",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,1.0
22,20181129X43605,2018-11-28,"Rock Hill, SC",United States,34.984722,-81.058056,Substantial,Airplane,No,NaN,NaN,NaN,2.0
23,20181128X85901,2018-11-28,"Mesa, AZ",United States,33.307778,-111.655556,Substantial,Airplane,No,NaN,NaN,NaN,7.0
24,20181128X85901,2018-11-28,"Mesa, AZ",United States,33.307778,-111.655556,Minor,Airplane,No,NaN,NaN,NaN,7.0
25,20181128X42306,2018-11-28,"Americus, GA",United States,32.039722,-84.294166,Substantial,Airplane,No,NaN,NaN,NaN,1.0
26,20181128X93322,2018-11-27,"Casa Grande, AZ",United States,32.955000,-111.766945,Substantial,Airplane,No,NaN,1.0,NaN,NaN
30,20181126X35126,2018-11-26,"Santa Fe, NM",United States,35.617223,-106.089444,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
31,20181125X85246,2018-11-25,"Fresno, CA",United States,36.030000,-119.063056,Substantial,Airplane,No,NaN,NaN,NaN,1.0
33,20181124X14130,2018-11-23,"Bakersfield, CA",United States,35.433611,-119.054444,NaN,Airplane,No,NaN,NaN,1.0,NaN
34,20181126X54237,2018-11-23,"Greenville, SC",United States,34.848055,-82.350000,Substantial,Airplane,No,NaN,NaN,NaN,1.0
35,20181123X24612,2018-11-23,"Benson, AZ",United States,31.999166,-110.355833,Substantial,Airplane,No,NaN,NaN,NaN,2.0
36,20181126X52513,2018-11-23,"North Myrtle Beach, SC",United States,33.811667,-78.723889,Substantial,Airplane,No,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55935,20001212X24349,1990-09-23,"ELIOT, ME",United States,NaN,NaN,Destroyed,Airplane,No,4.0,NaN,NaN,NaN
56009,20001212X24345,1990-09-14,"PLAIN CITY, OH",United States,NaN,NaN,Destroyed,Airplane,No,2.0,NaN,NaN,NaN
56600,20001212X23773,1990-07-12,"WICHITA, KS",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,2.0,NaN
56669,20001212X23574,1990-07-05,"COLDFOOT, AK",United States,NaN,NaN,Destroyed,Airplane,No,1.0,1.0,0.0,0.0
56860,20001212X23515,1990-06-15,"DANBURY, CT",United States,NaN,NaN,Substantial,Airplane,No,1.0,1.0,1.0,NaN
57348,20001212X22992,1990-04-17,"SALINA, KS",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,2.0
57356,20001212X22966,1990-04-16,"FORT LAUDERDALE, FL",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,8.0
57408,20001212X22846,1990-04-09,"GADSDEN, AL",United States,NaN,NaN,Destroyed,Airplane,No,2.0,NaN,NaN,7.0
57409,20001212X22846,1990-04-09,"GADSDEN, AL",United States,NaN,NaN,Substantial,Airplane,No,2.0,NaN,NaN,7.0
57563,20001212X22649,1990-03-16,"SULATNA CROSS, AK",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,2.0
57793,20001212X22619,1990-02-01,"FAIRFIELD, CT",United States,NaN,NaN,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
57807,20001212X22480,1990-01-29,"WILLISTON, VT",United States,NaN,NaN,Destroyed,Airplane,No,2.0,NaN,NaN,NaN
57810,20001212X22493,1990-01-28,"PITTSTOWN, NJ",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,1.0
57811,20001212X22492,1990-01-28,"ROXBURY, ME",United States,NaN,NaN,Destroyed,Airplane,No,NaN,NaN,NaN,2.0
58007,20001213X29904,1989-12-17,"CINCINNATI, OH",United States,NaN,NaN,Substantial,Airplane,No,1.0,NaN,1.0,1.0
59001,20001213X28948,1989-07-30,"SALISBURY TWP, PA",United States,NaN,NaN,Destroyed,Airplane,No,7.0,NaN,NaN,NaN
59002,20001213X28948,1989-07-30,"SALISBURY TWP, PA",United States,NaN,NaN,Destroyed,Airplane,No,7.0,NaN,NaN,NaN
59007,20001213X28746,1989-07-30,"WILLIAMSBURG, VA",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,4.0
59245,20001213X28927,1989-07-03,"MORRILTON, AR",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,1.0,NaN
59429,20001213X28620,1989-06-15,"MIRAMAR, FL",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,3.0,NaN
59792,20001213X28167,1989-04-27,"AINSWORTH, NE",United States,NaN,NaN,Destroyed,Airplane,No,3.0,NaN,NaN,NaN
60510,20001213X27448,1988-12-27,"CHINO, CA",United States,NaN,NaN,Substantial,Airplane,No,NaN,1.0,NaN,NaN
60528,20001213X27392,1988-12-24,"MADISON, IN",United States,NaN,NaN,Destroyed,Airplane,No,2.0,NaN,NaN,NaN
60534,20001213X27446,1988-12-23,"Midway Islands, PO",United States,38.540000,-173.240000,NaN,Airplane,No,NaN,1.0,1.0,220.0
61536,20001213X26459,1988-08-07,"RACINE, WV",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,1.0,NaN
61607,20001213X26456,1988-08-01,"SELBYVILLE, DE",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,1.0
61938,20001213X25979,1988-06-30,"PERRIS, CA",United States,NaN,NaN,Destroyed,Airplane,No,1.0,NaN,NaN,NaN
62622,20001213X25425,1988-04-05,"ST. PAUL, MN",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,5.0
62965,20001213X25152,1988-02-16,"BRIDGEPORT, CT",United States,NaN,NaN,Destroyed,Airplane,No,NaN,NaN,NaN,3.0
65477,20001213X30820,1987-04-02,"JEAN, NV",United States,NaN,NaN,Substantial,Airplane,No,NaN,NaN,NaN,1.0

In [39]:
aviation_final = aviation_final_df.fillna(value="Unknown")
aviation_final

,Event.Id,Event.Date,Location,Country,Latitude,Longitude,Aircraft.Damage,Aircraft.Category,Amateur.Built,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,20181217X10943,2018-12-16,"Grangville, ID",United States,45.5836,-115.682,Substantial,Airplane,No,Unknown,Unknown,Unknown,1
1,20181217X25746,2018-12-15,"MORIARTY, NM",United States,34.97,-106,Substantial,Airplane,No,Unknown,Unknown,Unknown,1
2,20181213X41114,2018-12-13,"Punta Gorda, FL",United States,26.9253,-82.0011,Substantial,Airplane,No,Unknown,Unknown,1,Unknown
3,20181213X45528,2018-12-13,"Valparaiso, IN",United States,41.4517,-87.0044,Destroyed,Airplane,No,1,Unknown,Unknown,Unknown
4,20181214X90303,2018-12-11,"Hartford, WI",United States,43.3303,-88.3261,Substantial,Airplane,No,Unknown,Unknown,Unknown,1
5,20181210X21905,2018-12-10,"Chester, CT",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,Unknown,Unknown
7,20181206X45049,2018-12-05,"Cornelia, GA",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,Unknown,2
8,20181204X03049,2018-12-04,"Reno, NV",United States,39.6589,-119.866,Substantial,Airplane,No,Unknown,Unknown,Unknown,2
9,20181212X01623,2018-12-04,"Moscow, PA",United States,41.3269,-75.5911,Substantial,Airplane,No,Unknown,Unknown,Unknown,1
10,20181204X93009,2018-12-03,"Monroe, NC",United States,35.0175,-80.6219,Substantial,Airplane,No,Unknown,Unknown,Unknown,1
11,20181204X05247,2018-12-02,"Santa Rita, GU",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,2,Unknown
12,20181201X45922,2018-12-01,"Fort Lauderdale, FL",United States,26.205,-80.1572,Destroyed,Airplane,No,2,Unknown,1,Unknown
13,20181130X14057,2018-11-30,"Apalachicola, FL",United States,29.7636,-85.0225,Destroyed,Airplane,No,1,Unknown,Unknown,Unknown
14,20181130X80724,2018-11-30,"Fargo, ND",United States,46.9206,-96.8158,Substantial,Airplane,No,Unknown,Unknown,9,2
15,20181130X31617,2018-11-30,"Memphis, IN",United States,38.4753,-85.8111,Destroyed,Airplane,No,3,Unknown,Unknown,Unknown
17,20181129X63138,2018-11-29,"Burlington, WA",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,Unknown,1
18,20181129X30228,2018-11-29,"Kennesaw, GA",United States,34.0394,-84.5858,Substantial,Airplane,No,Unknown,Unknown,2,Unknown
19,20181129X70430,2018-11-29,"Marion, IN",United States,40.4806,-85.6825,Destroyed,Airplane,No,1,Unknown,Unknown,Unknown
21,20181128X44044,2018-11-28,"St. Petersburg, FL",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,Unknown,1
22,20181129X43605,2018-11-28,"Rock Hill, SC",United States,34.9847,-81.0581,Substantial,Airplane,No,Unknown,Unknown,Unknown,2
23,20181128X85901,2018-11-28,"Mesa, AZ",United States,33.3078,-111.656,Substantial,Airplane,No,Unknown,Unknown,Unknown,7
24,20181128X85901,2018-11-28,"Mesa, AZ",United States,33.3078,-111.656,Minor,Airplane,No,Unknown,Unknown,Unknown,7
25,20181128X42306,2018-11-28,"Americus, GA",United States,32.0397,-84.2942,Substantial,Airplane,No,Unknown,Unknown,Unknown,1
26,20181128X93322,2018-11-27,"Casa Grande, AZ",United States,32.955,-111.767,Substantial,Airplane,No,Unknown,1,Unknown,Unknown
30,20181126X35126,2018-11-26,"Santa Fe, NM",United States,35.6172,-106.089,Destroyed,Airplane,No,1,Unknown,Unknown,Unknown
31,20181125X85246,2018-11-25,"Fresno, CA",United States,36.03,-119.063,Substantial,Airplane,No,Unknown,Unknown,Unknown,1
33,20181124X14130,2018-11-23,"Bakersfield, CA",United States,35.4336,-119.054,Unknown,Airplane,No,Unknown,Unknown,1,Unknown
34,20181126X54237,2018-11-23,"Greenville, SC",United States,34.8481,-82.35,Substantial,Airplane,No,Unknown,Unknown,Unknown,1
35,20181123X24612,2018-11-23,"Benson, AZ",United States,31.9992,-110.356,Substantial,Airplane,No,Unknown,Unknown,Unknown,2
36,20181126X52513,2018-11-23,"North Myrtle Beach, SC",United States,33.8117,-78.7239,Substantial,Airplane,No,Unknown,Unknown,Unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55935,20001212X24349,1990-09-23,"ELIOT, ME",United States,Unknown,Unknown,Destroyed,Airplane,No,4,Unknown,Unknown,Unknown
56009,20001212X24345,1990-09-14,"PLAIN CITY, OH",United States,Unknown,Unknown,Destroyed,Airplane,No,2,Unknown,Unknown,Unknown
56600,20001212X23773,1990-07-12,"WICHITA, KS",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,2,Unknown
56669,20001212X23574,1990-07-05,"COLDFOOT, AK",United States,Unknown,Unknown,Destroyed,Airplane,No,1,1,0,0
56860,20001212X23515,1990-06-15,"DANBURY, CT",United States,Unknown,Unknown,Substantial,Airplane,No,1,1,1,Unknown
57348,20001212X22992,1990-04-17,"SALINA, KS",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,Unknown,2
57356,20001212X22966,1990-04-16,"FORT LAUDERDALE, FL",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,Unknown,8
57408,20001212X22846,1990-04-09,"GADSDEN, AL",United States,Unknown,Unknown,Destroyed,Airplane,No,2,Unknown,Unknown,7
57409,20001212X22846,1990-04-09,"GADSDEN, AL",United States,Unknown,Unknown,Substantial,Airplane,No,2,Unknown,Unknown,7
57563,20001212X22649,1990-03-16,"SULATNA CROSS, AK",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,Unknown,2
57793,20001212X22619,1990-02-01,"FAIRFIELD, CT",United States,Unknown,Unknown,Destroyed,Airplane,No,1,Unknown,Unknown,Unknown
57807,20001212X22480,1990-01-29,"WILLISTON, VT",United States,Unknown,Unknown,Destroyed,Airplane,No,2,Unknown,Unknown,Unknown
57810,20001212X22493,1990-01-28,"PITTSTOWN, NJ",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,Unknown,1
57811,20001212X22492,1990-01-28,"ROXBURY, ME",United States,Unknown,Unknown,Destroyed,Airplane,No,Unknown,Unknown,Unknown,2
58007,20001213X29904,1989-12-17,"CINCINNATI, OH",United States,Unknown,Unknown,Substantial,Airplane,No,1,Unknown,1,1
59001,20001213X28948,1989-07-30,"SALISBURY TWP, PA",United States,Unknown,Unknown,Destroyed,Airplane,No,7,Unknown,Unknown,Unknown
59002,20001213X28948,1989-07-30,"SALISBURY TWP, PA",United States,Unknown,Unknown,Destroyed,Airplane,No,7,Unknown,Unknown,Unknown
59007,20001213X28746,1989-07-30,"WILLIAMSBURG, VA",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,Unknown,4
59245,20001213X28927,1989-07-03,"MORRILTON, AR",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,1,Unknown
59429,20001213X28620,1989-06-15,"MIRAMAR, FL",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,3,Unknown
59792,20001213X28167,1989-04-27,"AINSWORTH, NE",United States,Unknown,Unknown,Destroyed,Airplane,No,3,Unknown,Unknown,Unknown
60510,20001213X27448,1988-12-27,"CHINO, CA",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,1,Unknown,Unknown
60528,20001213X27392,1988-12-24,"MADISON, IN",United States,Unknown,Unknown,Destroyed,Airplane,No,2,Unknown,Unknown,Unknown
60534,20001213X27446,1988-12-23,"Midway Islands, PO",United States,38.54,-173.24,Unknown,Airplane,No,Unknown,1,1,220
61536,20001213X26459,1988-08-07,"RACINE, WV",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,1,Unknown
61607,20001213X26456,1988-08-01,"SELBYVILLE, DE",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,Unknown,1
61938,20001213X25979,1988-06-30,"PERRIS, CA",United States,Unknown,Unknown,Destroyed,Airplane,No,1,Unknown,Unknown,Unknown
62622,20001213X25425,1988-04-05,"ST. PAUL, MN",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,Unknown,5
62965,20001213X25152,1988-02-16,"BRIDGEPORT, CT",United States,Unknown,Unknown,Destroyed,Airplane,No,Unknown,Unknown,Unknown,3
65477,20001213X30820,1987-04-02,"JEAN, NV",United States,Unknown,Unknown,Substantial,Airplane,No,Unknown,Unknown,Unknown,1

In [40]:
disk_engine = create_engine('sqlite:///aviation_accidents.sqlite')
aviation_final.to_sql('NTSB_accidents', disk_engine, if_exists='replace')